
.responsive { 
  zoom: 1; 
}

.responsive:before,
.responsive:after { 
  content: "";
  display: table; 
}

.responsive:after {
  clear: both; 
}

@supports (display: flex) {
  .responsive::before,
  .responsive::after {
    content: none;
  }
  .responsive {
    display: flex;
    flex-wrap: wrap;
  }
}

  
  

  
    
      
      
          .max-width-text {
          
            padding: 0px 8px ;
          
          
            max-width: 584px;
            margin: 0 auto;
          
          }
      
    
  
    
      
      
        @media (min-width: 600px) {
      
          .max-width-text {
          
            padding: 0px 12px ;
          
          
          }
      
        }
      
    
  
    
      
      
        @media (min-width: 905px) {
      
          .max-width-text {
          
            padding: 0px 12px ;
          
            max-width: 576px;
          
          
          }
      
        }
      
    
  
    
      
      
        @media (min-width: 1240px) {
      
          .max-width-text {
          
            padding: 0px 16px ;
          
            max-width: 568px;
          
          
          }
      
        }
      
    
  
    
      
      
        @media (min-width: 1440px) {
      
          .max-width-text {
          
            padding: 0px 16px ;
          
            max-width: 568px;
          
          
          }
      
        }
      
    
  

  
  

  
    
      
      
          .max-width-default {
          
            padding: 0px 8px ;
          
          
            max-width: 1184px;
            margin: 0 auto;
          
          }
      
    
  
    
      
      
        @media (min-width: 600px) {
      
          .max-width-default {
          
            padding: 0px 12px ;
          
          
          }
      
        }
      
    
  
    
      
      
        @media (min-width: 905px) {
      
          .max-width-default {
          
            padding: 0px 12px ;
          
          
          }
      
        }
      
    
  
    
      
      
        @media (min-width: 1240px) {
      
          .max-width-default {
          
            padding: 0px 16px ;
          
            max-width: 1168px;
          
          
          }
      
        }
      
    
  
    
      
      
        @media (min-width: 1440px) {
      
          .max-width-default {
          
            padding: 0px 16px ;
          
            max-width: 1168px;
          
          
          }
      
        }
      
    
  

  
  

  
    
      
      
          .max-width-medium {
          
            padding: 0px 8px ;
          
          
            max-width: 1224px;
            margin: 0 auto;
          
          }
      
    
  
    
      
      
        @media (min-width: 600px) {
      
          .max-width-medium {
          
            padding: 0px 12px ;
          
          
          }
      
        }
      
    
  
    
      
      
        @media (min-width: 905px) {
      
          .max-width-medium {
          
            padding: 0px 12px ;
          
          
          }
      
        }
      
    
  
    
      
      
        @media (min-width: 1240px) {
      
          .max-width-medium {
          
            padding: 0px 16px ;
          
          
          }
      
        }
      
    
  
    
      
      
        @media (min-width: 1440px) {
      
          .max-width-medium {
          
            padding: 0px 16px ;
          
            max-width: 1208px;
          
          
          }
      
        }
      
    
  

  
  

  
    
      
      
          .max-width-hc {
          
            padding: 0px 15px ;
          
          
            max-width: 1600px;
            margin: 0 auto;
          
          }
      
    
  
    
      
      
        @media (min-width: 600px) {
      
          .max-width-hc {
          
            padding: 0px 15px ;
          
          
          }
      
        }
      
    
  
    
      
      
        @media (min-width: 905px) {
      
          .max-width-hc {
          
            padding: 0px 15px ;
          
          
          }
      
        }
      
    
  
    
      
      
        @media (min-width: 1240px) {
      
          .max-width-hc {
          
            padding: 0px 15px ;
          
          
          }
      
        }
      
    
  
    
      
      
        @media (min-width: 1440px) {
      
          .max-width-hc {
          
            padding: 0px 15px ;
          
          
          }
      
        }
      
    
  

  
  

  
    
      
      
          .max-width-big {
          
            padding: 0px 8px ;
          
          
            max-width: 1424px;
            margin: 0 auto;
          
          }
      
    
  
    
      
      
        @media (min-width: 600px) {
      
          .max-width-big {
          
            padding: 0px 12px ;
          
          
          }
      
        }
      
    
  
    
      
      
        @media (min-width: 905px) {
      
          .max-width-big {
          
            padding: 0px 12px ;
          
          
          }
      
        }
      
    
  
    
      
      
        @media (min-width: 1240px) {
      
          .max-width-big {
          
            padding: 0px 16px ;
          
          
          }
      
        }
      
    
  
    
      
      
        @media (min-width: 1440px) {
      
          .max-width-big {
          
            padding: 0px 16px ;
          
          
          }
      
        }
      
    
  

  
  

  
    
      
      
          .max-width-no-gaps {
          
            padding: 0px ;
          
          
            max-width: 1440px;
            margin: 0 auto;
          
          }
      
    
  
    
      
      
        @media (min-width: 600px) {
      
          .max-width-no-gaps {
          
            padding: 0px ;
          
          
          }
      
        }
      
    
  
    
      
      
        @media (min-width: 905px) {
      
          .max-width-no-gaps {
          
            padding: 0px ;
          
          
          }
      
        }
      
    
  
    
      
      
        @media (min-width: 1240px) {
      
          .max-width-no-gaps {
          
            padding: 0px ;
          
          
          }
      
        }
      
    
  
    
      
      
        @media (min-width: 1440px) {
      
          .max-width-no-gaps {
          
            padding: 0px ;
          
          
          }
      
        }
      
    
  

  
  

  
    
      
      
          .max-width-small {
          
            padding: 0px 8px ;
          
          
            max-width: 784px;
            margin: 0 auto;
          
          }
      
    
  
    
      
      
        @media (min-width: 600px) {
      
          .max-width-small {
          
            padding: 0px 12px ;
          
          
          }
      
        }
      
    
  
    
      
      
        @media (min-width: 905px) {
      
          .max-width-small {
          
            padding: 0px 12px ;
          
            max-width: 776px;
          
          
          }
      
        }
      
    
  
    
      
      
        @media (min-width: 1240px) {
      
          .max-width-small {
          
            padding: 0px 16px ;
          
            max-width: 768px;
          
          
          }
      
        }
      
    
  
    
      
      
        @media (min-width: 1440px) {
      
          .max-width-small {
          
            padding: 0px 16px ;
          
            max-width: 768px;
          
          
          }
      
        }
      
    
  

  
  

  
    
      
      
          .max-width-extra-small {
          
            padding: 0px 8px ;
          
          
            max-width: 584px;
            margin: 0 auto;
          
          }
      
    
  
    
      
      
        @media (min-width: 600px) {
      
          .max-width-extra-small {
          
            padding: 0px 12px ;
          
          
          }
      
        }
      
    
  
    
      
      
        @media (min-width: 905px) {
      
          .max-width-extra-small {
          
            padding: 0px 12px ;
          
            max-width: 576px;
          
          
          }
      
        }
      
    
  
    
      
      
        @media (min-width: 1240px) {
      
          .max-width-extra-small {
          
            padding: 0px 16px ;
          
            max-width: 568px;
          
          
          }
      
        }
      
    
  
    
      
      
        @media (min-width: 1440px) {
      
          .max-width-extra-small {
          
            padding: 0px 16px ;
          
            max-width: 568px;
          
          
          }
      
        }
      
    
  


  .container-100_50_33_33_33,
  .container-100_50_25_25_25,
  .container-100_50_50_50_50,
  .container-100_100_50_50_50,
  .container-100_100_70_70_70,
  .container-70_70_50_50_50,
  .container-100_100_40_40_40,
  .container-100_100_60_60_60,
  .container-50_50_33_33_33,
  .container-100_100_55_55_55,
  .container-100_100_45_45_45,
  .container-100_50_33_25_20,
  .container-100_20_20_20_20,
  .container-100_100_66_66_66,
  .container-100_100_33_33_33 {
    float: left;
  }
  
  
  .container-100_50_33_33_33 {
    width: 100.00%;
  }
    
  @media (min-width: 600px) {
    .container-100_50_33_33_33 {
      width: 50.00%;
    }
  }
    
  @media (min-width: 905px) {
    .container-100_50_33_33_33 {
      width: 33.33%;
    }
  }
    
  @media (min-width: 1240px) {
    .container-100_50_33_33_33 {
      width: 33.33%;
    }
  }
    
  @media (min-width: 1440px) {
    .container-100_50_33_33_33 {
      width: 33.33%;
    }
  }
    
  
  .container-100_50_25_25_25 {
    width: 100.00%;
  }
    
  @media (min-width: 600px) {
    .container-100_50_25_25_25 {
      width: 50.00%;
    }
  }
    
  @media (min-width: 905px) {
    .container-100_50_25_25_25 {
      width: 25.00%;
    }
  }
    
  @media (min-width: 1240px) {
    .container-100_50_25_25_25 {
      width: 25.00%;
    }
  }
    
  @media (min-width: 1440px) {
    .container-100_50_25_25_25 {
      width: 25.00%;
    }
  }
    
  
  .container-100_50_50_50_50 {
    width: 100.00%;
  }
    
  @media (min-width: 600px) {
    .container-100_50_50_50_50 {
      width: 50.00%;
    }
  }
    
  @media (min-width: 905px) {
    .container-100_50_50_50_50 {
      width: 50.00%;
    }
  }
    
  @media (min-width: 1240px) {
    .container-100_50_50_50_50 {
      width: 50.00%;
    }
  }
    
  @media (min-width: 1440px) {
    .container-100_50_50_50_50 {
      width: 50.00%;
    }
  }
    
  
  .container-100_100_50_50_50 {
    width: 100.00%;
  }
    
  @media (min-width: 600px) {
    .container-100_100_50_50_50 {
      width: 100.00%;
    }
  }
    
  @media (min-width: 905px) {
    .container-100_100_50_50_50 {
      width: 50.00%;
    }
  }
    
  @media (min-width: 1240px) {
    .container-100_100_50_50_50 {
      width: 50.00%;
    }
  }
    
  @media (min-width: 1440px) {
    .container-100_100_50_50_50 {
      width: 50.00%;
    }
  }
    
  
  .container-100_100_70_70_70 {
    width: 100.00%;
  }
    
  @media (min-width: 600px) {
    .container-100_100_70_70_70 {
      width: 100.00%;
    }
  }
    
  @media (min-width: 905px) {
    .container-100_100_70_70_70 {
      width: 70.00%;
    }
  }
    
  @media (min-width: 1240px) {
    .container-100_100_70_70_70 {
      width: 70.00%;
    }
  }
    
  @media (min-width: 1440px) {
    .container-100_100_70_70_70 {
      width: 70.00%;
    }
  }
    
  
  .container-70_70_50_50_50 {
    width: 70.00%;
  }
    
  @media (min-width: 600px) {
    .container-70_70_50_50_50 {
      width: 70.00%;
    }
  }
    
  @media (min-width: 905px) {
    .container-70_70_50_50_50 {
      width: 50.00%;
    }
  }
    
  @media (min-width: 1240px) {
    .container-70_70_50_50_50 {
      width: 50.00%;
    }
  }
    
  @media (min-width: 1440px) {
    .container-70_70_50_50_50 {
      width: 50.00%;
    }
  }
    
  
  .container-100_100_40_40_40 {
    width: 100.00%;
  }
    
  @media (min-width: 600px) {
    .container-100_100_40_40_40 {
      width: 100.00%;
    }
  }
    
  @media (min-width: 905px) {
    .container-100_100_40_40_40 {
      width: 40.00%;
    }
  }
    
  @media (min-width: 1240px) {
    .container-100_100_40_40_40 {
      width: 40.00%;
    }
  }
    
  @media (min-width: 1440px) {
    .container-100_100_40_40_40 {
      width: 40.00%;
    }
  }
    
  
  .container-100_100_60_60_60 {
    width: 100.00%;
  }
    
  @media (min-width: 600px) {
    .container-100_100_60_60_60 {
      width: 100.00%;
    }
  }
    
  @media (min-width: 905px) {
    .container-100_100_60_60_60 {
      width: 60.00%;
    }
  }
    
  @media (min-width: 1240px) {
    .container-100_100_60_60_60 {
      width: 60.00%;
    }
  }
    
  @media (min-width: 1440px) {
    .container-100_100_60_60_60 {
      width: 60.00%;
    }
  }
    
  
  .container-50_50_33_33_33 {
    width: 50.00%;
  }
    
  @media (min-width: 600px) {
    .container-50_50_33_33_33 {
      width: 50.00%;
    }
  }
    
  @media (min-width: 905px) {
    .container-50_50_33_33_33 {
      width: 33.00%;
    }
  }
    
  @media (min-width: 1240px) {
    .container-50_50_33_33_33 {
      width: 33.00%;
    }
  }
    
  @media (min-width: 1440px) {
    .container-50_50_33_33_33 {
      width: 33.00%;
    }
  }
    
  
  .container-100_100_55_55_55 {
    width: 100.00%;
  }
    
  @media (min-width: 600px) {
    .container-100_100_55_55_55 {
      width: 100.00%;
    }
  }
    
  @media (min-width: 905px) {
    .container-100_100_55_55_55 {
      width: 55.00%;
    }
  }
    
  @media (min-width: 1240px) {
    .container-100_100_55_55_55 {
      width: 55.00%;
    }
  }
    
  @media (min-width: 1440px) {
    .container-100_100_55_55_55 {
      width: 55.00%;
    }
  }
    
  
  .container-100_100_45_45_45 {
    width: 100.00%;
  }
    
  @media (min-width: 600px) {
    .container-100_100_45_45_45 {
      width: 100.00%;
    }
  }
    
  @media (min-width: 905px) {
    .container-100_100_45_45_45 {
      width: 45.00%;
    }
  }
    
  @media (min-width: 1240px) {
    .container-100_100_45_45_45 {
      width: 45.00%;
    }
  }
    
  @media (min-width: 1440px) {
    .container-100_100_45_45_45 {
      width: 45.00%;
    }
  }
    
  
  .container-100_50_33_25_20 {
    width: 100.00%;
  }
    
  @media (min-width: 600px) {
    .container-100_50_33_25_20 {
      width: 50.00%;
    }
  }
    
  @media (min-width: 905px) {
    .container-100_50_33_25_20 {
      width: 33.33%;
    }
  }
    
  @media (min-width: 1240px) {
    .container-100_50_33_25_20 {
      width: 25.00%;
    }
  }
    
  @media (min-width: 1440px) {
    .container-100_50_33_25_20 {
      width: 20.00%;
    }
  }
    
  
  .container-100_20_20_20_20 {
    width: 100.00%;
  }
    
  @media (min-width: 600px) {
    .container-100_20_20_20_20 {
      width: 20.00%;
    }
  }
    
  @media (min-width: 905px) {
    .container-100_20_20_20_20 {
      width: 20.00%;
    }
  }
    
  @media (min-width: 1240px) {
    .container-100_20_20_20_20 {
      width: 20.00%;
    }
  }
    
  @media (min-width: 1440px) {
    .container-100_20_20_20_20 {
      width: 20.00%;
    }
  }
    
  
  .container-100_100_66_66_66 {
    width: 100.00%;
  }
    
  @media (min-width: 600px) {
    .container-100_100_66_66_66 {
      width: 100.00%;
    }
  }
    
  @media (min-width: 905px) {
    .container-100_100_66_66_66 {
      width: 66.67%;
    }
  }
    
  @media (min-width: 1240px) {
    .container-100_100_66_66_66 {
      width: 66.67%;
    }
  }
    
  @media (min-width: 1440px) {
    .container-100_100_66_66_66 {
      width: 66.67%;
    }
  }
    
  
  .container-100_100_33_33_33 {
    width: 100.00%;
  }
    
  @media (min-width: 600px) {
    .container-100_100_33_33_33 {
      width: 100.00%;
    }
  }
    
  @media (min-width: 905px) {
    .container-100_100_33_33_33 {
      width: 33.33%;
    }
  }
    
  @media (min-width: 1240px) {
    .container-100_100_33_33_33 {
      width: 33.33%;
    }
  }
    
  @media (min-width: 1440px) {
    .container-100_100_33_33_33 {
      width: 33.33%;
    }
  }
    
  

  
    
    
      .buffer-default {
         
            padding : 8px;
         
      }
    

    

    


    


    
  

  
    
    
      .buffer-footer {
        
          padding: 4px 8px ;
         
      }
    

    

    


    


    
  

  
    
    
      .buffer-medium {
         
            padding : 6px;
         
      }
    

    

    


    


    
  
    
    

    

    


    


    
      @media (min-width: 600px) {
        .buffer-medium {
          
             
              padding: 6px;
             
          
        }
      }
    
  
    
    

    

    


    
      @media (min-width: 905px) {
        .buffer-medium {
          
             
              padding: 12px;
             
          
        }
      }
    


    
  
    
    

    

    
      @media (min-width: 1240px) {
        .buffer-medium {
          
             
              padding: 12px;
             
          
        }
      }
    


    


    
  
    
    

    
      @media (min-width: 1440px) {
        .buffer-medium {
        
           
            padding: 12px;
           
        
        }
      }
    

    


    


    
  

  
    
    
      .buffer-big {
         
            padding : 8px;
         
      }
    

    

    


    


    
  
    
    

    

    


    


    
      @media (min-width: 600px) {
        .buffer-big {
          
             
              padding: 12px;
             
          
        }
      }
    
  
    
    

    

    


    
      @media (min-width: 905px) {
        .buffer-big {
          
             
              padding: 12px;
             
          
        }
      }
    


    
  
    
    

    

    
      @media (min-width: 1240px) {
        .buffer-big {
          
             
              padding: 16px;
             
          
        }
      }
    


    


    
  
    
    

    
      @media (min-width: 1440px) {
        .buffer-big {
        
           
            padding: 16px;
           
        
        }
      }
    

    


    


    
  

  
    
    
      .buffer-big-x {
        
          padding: 0px 8px ;
         
      }
    

    

    


    


    
  
    
    

    

    


    


    
      @media (min-width: 600px) {
        .buffer-big-x {
          
            
              padding: 0px 12px ;
             
          
        }
      }
    
  
    
    

    

    


    
      @media (min-width: 905px) {
        .buffer-big-x {
          
            
              padding: 0px 12px ;
             
          
        }
      }
    


    
  
    
    

    

    
      @media (min-width: 1240px) {
        .buffer-big-x {
          
            
              padding: 0px 16px ;
             
          
        }
      }
    


    


    
  
    
    

    
      @media (min-width: 1440px) {
        .buffer-big-x {
        
          
            padding: 0px 16px ;
           
        
        }
      }
    

    


    


    
  

  
    
    
      .buffer-big-half {
        
          padding: 8px 8px ;
         
      }
    

    

    


    


    
  
    
    

    

    


    


    
      @media (min-width: 600px) {
        .buffer-big-half {
          
            
              padding: 8px 12px ;
             
          
        }
      }
    
  
    
    

    

    


    
      @media (min-width: 905px) {
        .buffer-big-half {
          
            
              padding: 8px 12px ;
             
          
        }
      }
    


    
  
    
    

    

    
      @media (min-width: 1240px) {
        .buffer-big-half {
          
            
              padding: 8px 16px ;
             
          
        }
      }
    


    


    
  
    
    

    
      @media (min-width: 1440px) {
        .buffer-big-half {
        
          
            padding: 8px 16px ;
           
        
        }
      }
    

    


    


    
  

  
    
    
      .buffer-logo-card-2 {
        
          padding: 10px 20px ;
         
      }
    

    

    


    


    
  
    
    

    

    


    


    
      @media (min-width: 600px) {
        .buffer-logo-card-2 {
          
            
              padding: 15px 30px ;
             
          
        }
      }
    
  
    
    

    

    


    
      @media (min-width: 905px) {
        .buffer-logo-card-2 {
          
            
              padding: 15px 30px ;
             
          
        }
      }
    


    
  
    
    

    

    
      @media (min-width: 1240px) {
        .buffer-logo-card-2 {
          
            
              padding: 20px 40px ;
             
          
        }
      }
    


    


    
  
    
    

    
      @media (min-width: 1440px) {
        .buffer-logo-card-2 {
        
          
            padding: 20px 40px ;
           
        
        }
      }
    

    


    


    
  

/* prevent horizontal scrolling, when the scrollbar appears */

img {
  display: block;
  width: 100%;
  height: auto;
}

.button-container { 
  zoom: 1; 
}

.button-container:before,
.button-container:after { 
  content: "";
  display: table; 
}

.button-container:after {
  clear: both; 
}

.button-container--center {
  display: table;
  margin-left: auto;
  margin-right: auto;
}

@supports (display: flex) {
  .button-container::before,
  .button-container::after {
    content: none;
  }
  .button-container {
    display: flex;
  }
  
  .button-container--center {
    justify-content: center;
  }
}

.button-container button,
.button-container a {
  display: block;
  float: left;
}

.burger-button {
  width: 18px;
  height: 12px;
  padding: 13px 10px;
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxOCAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGcgY2xpcC1wYXRoPSJ1cmwoI2NsaXAwXzI2N18yNTcwKSI+CjxwYXRoIGQ9Ik0wIDEySDE4VjEwSDBWMTJaTTAgN0gxOFY1SDBWN1pNMCAwVjJIMThWMEgwWiIgZmlsbD0id2hpdGUiLz4KPC9nPgo8ZGVmcz4KPGNsaXBQYXRoIGlkPSJjbGlwMF8yNjdfMjU3MCI+CjxyZWN0IHdpZHRoPSIxOCIgaGVpZ2h0PSIxMiIgZmlsbD0id2hpdGUiLz4KPC9jbGlwUGF0aD4KPC9kZWZzPgo8L3N2Zz4K");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 18px 12px;
  border-radius: 2px;
  box-sizing: content-box;
}

.burger-button--opened {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTQiIHZpZXdCb3g9IjAgMCAxNCAxNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGcgY2xpcC1wYXRoPSJ1cmwoI2NsaXAwXzI2N18yNTcyKSI+CjxwYXRoIGQ9Ik0xNCAxLjQxTDEyLjU5IDBMNyA1LjU5TDEuNDEgMEwwIDEuNDFMNS41OSA3TDAgMTIuNTlMMS40MSAxNEw3IDguNDFMMTIuNTkgMTRMMTQgMTIuNTlMOC40MSA3TDE0IDEuNDFaIiBmaWxsPSJ3aGl0ZSIvPgo8L2c+CjxkZWZzPgo8Y2xpcFBhdGggaWQ9ImNsaXAwXzI2N18yNTcyIj4KPHJlY3Qgd2lkdGg9IjE0IiBoZWlnaHQ9IjE0IiBmaWxsPSJ3aGl0ZSIvPgo8L2NsaXBQYXRoPgo8L2RlZnM+Cjwvc3ZnPgo=");
}

.burger-button:hover,
.burger-button.hover {
    background-color: #505D68;
}

.burger-button:focus,
.burger-button.focus {
    border-color: #505D68;
    outline: none;
}

.burger-button:focus:not(:focus-visible) {
  border-color: transparent;
  outline: none;
}

.burger-button:focus-visible,
.burger-button.focus-visible {
    border-color: #505D68;
    outline: none;
}

.burger-button:disabled,
.burger-button.disabled {
    opacity: 0.3;
    cursor: default;
}

.burger-button:active,
.burger-button.active {
    background-color: #505D68;
    outline: none;
    border-color: transparent;
}
.main-menu__link {
  display: block;
  transition: all 0.3s ease-out 0s;
}

.main-menu__link:hover {
  color: #00C4F4;
}

@media (max-width: 1239 px) {
  .main-menu__link {
    padding: 10px 60px ;
  }
}


/*  hide content for accessibility */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/* for a parrent image's link  - IE10 and lower make outline for images */

a img {
  border:none;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.mt-auto {
  margin-top: auto;
}

.mb-auto {
  margin-bottom: auto;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.d-flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.nowrap {
  flex-wrap: nowrap;
}

.text-center {
  text-align: center;
}

.relative {
  position: relative;
}

address {
  font-style: normal;
}

  
  

  
    
      body {
      
        margin : 0;
      
        font-family : Outfit, Arial, sans-serif;
      
        background-color : #030B15;
      
        color : #A4B4C3;
      
      }
    

    

    

    

    
  

  
  
    
  

  
    
      h1, .h1 {
      
        margin : 0;
      
        padding : 8px;
      
        font-family : Outfit, Arial, sans-serif;
      
        font-size : 33px;
      
        line-height : 38px;
      
        color : #FFFFFF;
      
      }
    

    

    

    

    
  
    

    

    

    

    
      @media (min-width: 600px) {
        h1, .h1 {
        
          font-size : 50px;
        
          line-height : 57px;
        
          padding : 12px;
        
        }
      }
    
  
    

    

    

    
      @media (min-width: 905px) {
        h1, .h1 {
        
          font-size : 50px;
        
          line-height : 57px;
        
          padding : 12px;
        
        }
      }
    

    
  
    

    

    
      @media (min-width: 1240px) {
        h1, .h1 {
        
          font-size : 66px;
        
          line-height : 76px;
        
          padding : 16px;
        
        }
      }
    

    

    
  
    

    
      @media (min-width: 1440px) {
        h1, .h1 {
        
          font-size : 66px;
        
          line-height : 76px;
        
          padding : 16px;
        
        }
      }
    

    

    

    
  

  
  
    
  

  
    
      h2, .h2 {
      
        margin : 0;
      
        padding : 24px 8px;
      
        font-family : Outfit, Arial, sans-serif;
      
        font-size : 25px;
      
        line-height : 32px;
      
        color : #FFFFFF;
      
      }
    

    

    

    

    
  
    

    

    

    

    
      @media (min-width: 600px) {
        h2, .h2 {
        
          font-size : 38px;
        
          line-height : 48px;
        
          padding : 24px 12px;
        
        }
      }
    
  
    

    

    

    
      @media (min-width: 905px) {
        h2, .h2 {
        
          font-size : 38px;
        
          line-height : 48px;
        
          padding : 24px 12px;
        
        }
      }
    

    
  
    

    

    
      @media (min-width: 1240px) {
        h2, .h2 {
        
          font-size : 50px;
        
          line-height : 64px;
        
          padding : 24px 16px;
        
        }
      }
    

    

    
  
    

    
      @media (min-width: 1440px) {
        h2, .h2 {
        
          font-size : 50px;
        
          line-height : 64px;
        
          padding : 24px 16px;
        
        }
      }
    

    

    

    
  

  
  
    
  

  
    
      h3, .h3 {
      
        margin : 0;
      
        padding : 4px 8px;
      
        font-family : Outfit, Arial, sans-serif;
      
        font-size : 21px;
      
        line-height : 31px;
      
        color : #FFFFFF;
      
      }
    

    

    

    

    
  
    

    

    

    

    
      @media (min-width: 600px) {
        h3, .h3 {
        
          padding : 4px 12px;
        
        }
      }
    
  
    

    

    

    
      @media (min-width: 905px) {
        h3, .h3 {
        
          padding : 4px 12px;
        
        }
      }
    

    
  
    

    

    
      @media (min-width: 1240px) {
        h3, .h3 {
        
          padding : 4px 16px;
        
        }
      }
    

    

    
  
    

    
      @media (min-width: 1440px) {
        h3, .h3 {
        
          padding : 4px 16px;
        
        }
      }
    

    

    

    
  

  
  
    
  

  
    
      h4, .h4 {
      
        margin : 0;
      
        padding : 8px;
      
        font-family : Outfit, Arial, sans-serif;
      
        font-weight : 400;
      
        font-size : 14px;
      
        line-height : 16px;
      
        color : #FFFFFF;
      
        text-transform : uppercase;
      
      }
    

    

    

    

    
  
    

    

    

    

    
      @media (min-width: 600px) {
        h4, .h4 {
        
          padding : 8px 12px;
        
        }
      }
    
  
    

    

    

    
      @media (min-width: 905px) {
        h4, .h4 {
        
          padding : 8px 12px;
        
        }
      }
    

    
  
    

    

    
      @media (min-width: 1240px) {
        h4, .h4 {
        
          padding : 8px 16px;
        
        }
      }
    

    

    
  
    

    
      @media (min-width: 1440px) {
        h4, .h4 {
        
          padding : 8px 16px;
        
        }
      }
    

    

    

    
  

  
  
    
  

  
    
      p, .p {
      
        display : block;
      
        margin : 0;
      
        padding : 4px 8px;
      
        font-family : Outfit, Arial, sans-serif;
      
        font-size : 16px;
      
        line-height : 24px;
      
        color : #A1AEB7;
      
      }
    

    

    

    

    
  
    

    

    

    

    
      @media (min-width: 600px) {
        p, .p {
        
          padding : 4px 12px;
        
        }
      }
    
  
    

    

    

    
      @media (min-width: 905px) {
        p, .p {
        
          padding : 4px 12px;
        
        }
      }
    

    
  
    

    

    
      @media (min-width: 1240px) {
        p, .p {
        
          padding : 4px 16px;
        
        }
      }
    

    

    
  
    

    
      @media (min-width: 1440px) {
        p, .p {
        
          padding : 4px 16px;
        
        }
      }
    

    

    

    
  

  
  

  
    
      .p-big {
      
        margin : 0;
      
        padding : 8px;
      
        font-family : Outfit, Arial, sans-serif;
      
        font-weight : 300;
      
        font-size : 36px;
      
        line-height : 46px;
      
        color : #505D68;
      
      }
    

    

    

    

    
  
    

    

    

    

    
      @media (min-width: 600px) {
        .p-big {
        
          padding : 8px 12px;
        
        }
      }
    
  
    

    

    

    
      @media (min-width: 905px) {
        .p-big {
        
          padding : 8px 12px;
        
        }
      }
    

    
  
    

    

    
      @media (min-width: 1240px) {
        .p-big {
        
          padding : 8px 16px;
        
        }
      }
    

    

    
  
    

    
      @media (min-width: 1440px) {
        .p-big {
        
          padding : 8px 16px;
        
        }
      }
    

    

    

    
  

  
  

  
    
      .p-small {
      
        margin : 0;
      
        padding : 8px;
      
        font-family : Outfit, Arial, sans-serif;
      
        font-size : 14px;
      
        line-height : 21px;
      
        color : #A1AEB7;
      
      }
    

    

    

    

    
  
    

    

    

    

    
      @media (min-width: 600px) {
        .p-small {
        
          padding : 8px 12px;
        
        }
      }
    
  
    

    

    

    
      @media (min-width: 905px) {
        .p-small {
        
          padding : 8px 12px;
        
        }
      }
    

    
  
    

    

    
      @media (min-width: 1240px) {
        .p-small {
        
          padding : 8px 16px;
        
        }
      }
    

    

    
  
    

    
      @media (min-width: 1440px) {
        .p-small {
        
          padding : 8px 16px;
        
        }
      }
    

    

    

    
  

  
  

  
    
      .p-medium {
      
        margin : 0;
      
        padding : 8px;
      
        font-family : Outfit, Arial, sans-serif;
      
        font-weight : 300;
      
        font-size : 26px;
      
        line-height : 35px;
      
        color : #505D68;
      
      }
    

    

    

    

    
  
    

    

    

    

    
      @media (min-width: 600px) {
        .p-medium {
        
          padding : 8px 12px;
        
        }
      }
    
  
    

    

    

    
      @media (min-width: 905px) {
        .p-medium {
        
          padding : 8px 12px;
        
        }
      }
    

    
  
    

    

    
      @media (min-width: 1240px) {
        .p-medium {
        
          padding : 8px 16px;
        
        }
      }
    

    

    
  
    

    
      @media (min-width: 1440px) {
        .p-medium {
        
          padding : 8px 16px;
        
        }
      }
    

    

    

    
  

  
  

  
    
      .p-medium-2 {
      
        margin : 0;
      
        padding : 8px;
      
        font-family : Outfit, Arial, sans-serif;
      
        font-weight : 500;
      
        font-size : 21px;
      
        line-height : 30px;
      
        color : #A1AEB7;
      
      }
    

    

    

    

    
  
    

    

    

    

    
      @media (min-width: 600px) {
        .p-medium-2 {
        
          padding : 8px 12px;
        
        }
      }
    
  
    

    

    

    
      @media (min-width: 905px) {
        .p-medium-2 {
        
          padding : 8px 12px;
        
        }
      }
    

    
  
    

    

    
      @media (min-width: 1240px) {
        .p-medium-2 {
        
          padding : 8px 16px;
        
        }
      }
    

    

    
  
    

    
      @media (min-width: 1440px) {
        .p-medium-2 {
        
          padding : 8px 16px;
        
        }
      }
    

    

    

    
  

  
  

  
    
      .benefits-list li {
      
        margin : 0;
      
        padding : 15px 24px 15px 40px;
      
        font-family : Outfit, Arial, sans-serif;
      
        font-weight : 400;
      
        font-size : 16px;
      
        line-height : 24px;
      
        color : #A1AEB7;
      
      }
    

    

    

    

    
  
    

    

    

    

    
      @media (min-width: 600px) {
        .benefits-list li {
        
          padding : 15px 24px 15px 40px;
        
        }
      }
    
  
    

    

    

    
      @media (min-width: 905px) {
        .benefits-list li {
        
          padding : 15px 24px 15px 40px;
        
        }
      }
    

    
  
    

    

    
      @media (min-width: 1240px) {
        .benefits-list li {
        
          padding : 15px 24px 15px 40px;
        
        }
      }
    

    

    
  
    

    
      @media (min-width: 1440px) {
        .benefits-list li {
        
          padding : 15px 24px 15px 40px;
        
        }
      }
    

    

    

    
  

  
  

  
    
      .main-menu__link {
      
        margin : 0;
      
        padding : 16px 0;
      
        font-family : Outfit, Arial, sans-serif;
      
        font-weight : 600;
      
        font-size : 14px;
      
        line-height : 1;
      
        text-decoration : none;
      
        color : #FFFFFF;
      
      }
    

    

    

    

    
  
    

    

    
      @media (min-width: 1240px) {
        .main-menu__link {
        
          padding : 45px 0;
        
        }
      }
    

    

    
  

  
  

  
    
      .login-link {
      
        margin : 0;
      
        padding : 8px;
      
        font-family : Outfit, Arial, sans-serif;
      
        font-weight : 400;
      
        font-size : 12px;
      
        line-height : 14px;
      
        text-decoration : none;
      
        color : #FFFFFF;
      
      }
    

    

    

    

    
  

  
  

  
    
      .breadcrumb__link {
      
        margin : 0;
      
        padding : 8px;
      
        font-family : Outfit, Arial, sans-serif;
      
        font-weight : 700;
      
        font-size : 16px;
      
        line-height : 1.4;
      
        text-decoration : none;
      
        color : #FFFFFF;
      
      }
    

    

    

    

    
  

  
  

  
    
      .breadcrumb__link--current {
      
        margin : 0;
      
        padding : 8px;
      
        font-family : Outfit, Arial, sans-serif;
      
        font-weight : 700;
      
        font-size : 16px;
      
        line-height : 1.4;
      
        text-decoration : none;
      
        color : #FFFFFF;
      
      }
    

    

    

    

    
  

  
  

  
    
      .gallery__filter-link {
      
        margin : 0;
      
        padding : 12px 16px;
      
        font-family : Outfit, Arial, sans-serif;
      
        font-weight : 400;
      
        font-size : 12px;
      
        line-height : 14px;
      
        text-align : center;
      
        text-transform : uppercase;
      
        text-decoration : none;
      
        color : #505D68;
      
      }
    

    

    

    

    
  

  
  

  
    
      .footer__link {
      
        margin : 0;
      
        padding : 0;
      
        font-family : Outfit, Arial, sans-serif;
      
        font-weight : 400;
      
        font-size : 15px;
      
        line-height : 20px;
      
        text-decoration : none;
      
        color : #A4B4C3;
      
      }
    

    

    

    

    
  

  
  

  
    
      .button-dark {
      
        margin : 0;
      
        padding : 8px 16px;
      
        font-family : Outfit, Arial, sans-serif;
      
        font-weight : 400;
      
        font-size : 15px;
      
        line-height : 17px;
      
        text-decoration : none;
      
        color : #FFFFFF;
      
        cursor : pointer;
      
        text-transform : uppercase;
      
      }
    

    

    

    

    
  

  
  

  
    
      .button-dark-2 {
      
        margin : 0;
      
        padding : 13px 16px;
      
        font-family : Outfit, Arial, sans-serif;
      
        font-weight : 400;
      
        font-size : 12px;
      
        line-height : 14px;
      
        text-decoration : none;
      
        color : #FFFFFF;
      
        cursor : pointer;
      
        text-transform : uppercase;
      
      }
    

    

    

    

    
  

  
  

  
    
      .button-light {
      
        margin : 0;
      
        padding : 12px 36px;
      
        font-family : Outfit, Arial, sans-serif;
      
        font-weight : 400;
      
        font-size : 12px;
      
        line-height : 14px;
      
        text-decoration : none;
      
        color : #424B5A;
      
        cursor : pointer;
      
        text-transform : uppercase;
      
      }
    

    

    

    

    
  

  
  

  
    
      .button-light-2 {
      
        margin : 0;
      
        padding : 13px 16px;
      
        font-family : Outfit, Arial, sans-serif;
      
        font-weight : 400;
      
        font-size : 12px;
      
        line-height : 14px;
      
        text-decoration : none;
      
        color : #FFFFFF;
      
        cursor : pointer;
      
        text-transform : uppercase;
      
      }
    

    

    

    

    
  

  
  

  
    
      .button-light-3 {
      
        margin : 0;
      
        padding : 13px 16px;
      
        font-family : Outfit, Arial, sans-serif;
      
        font-weight : 500;
      
        font-size : 15px;
      
        line-height : 17px;
      
        text-decoration : none;
      
        color : #424B5A;
      
        cursor : pointer;
      
        text-transform : uppercase;
      
        text-align : center;
      
      }
    

    

    

    

    
  

  
  

  
    
      .button {
      
        margin : 0;
      
        padding : 16px 35px;
      
        font-family : Outfit, Arial, sans-serif;
      
        font-weight : 700;
      
        font-size : 14px;
      
        line-height : 14px;
      
        text-decoration : none;
      
        color : #FFFFFF;
      
        cursor : pointer;
      
        text-transform : uppercase;
      
        text-align : center;
      
        letter-spacing : 0.5px;
      
      }
    

    

    

    

    
  

  
  

  
    
      .button-violet {
      
        margin : 0;
      
        padding : 25px 75px 25px 42px;
      
        font-family : Outfit, Arial, sans-serif;
      
        font-weight : 700;
      
        font-size : 15px;
      
        line-height : 1;
      
        text-decoration : none;
      
        color : #FFFFFF;
      
        cursor : pointer;
      
        text-transform : uppercase;
      
        text-align : center;
      
        letter-spacing : 0.5px;
      
      }
    

    

    

    

    
  

  
  

  
    
      .button-blue {
      
        margin : 0;
      
        padding : 16px 35px;
      
        font-family : Outfit, Arial, sans-serif;
      
        font-weight : 700;
      
        font-size : 15px;
      
        line-height : 1;
      
        text-decoration : none;
      
        color : #FFFFFF;
      
        cursor : pointer;
      
        text-transform : uppercase;
      
        text-align : center;
      
        letter-spacing : 0.5px;
      
      }
    

    

    

    

    
  

  
  

  
    
      input {
      
        margin : 0;
      
        padding : 17px 22px;
      
        font-family : Outfit, Arial, sans-serif;
      
        font-weight : 400;
      
        font-size : 20px;
      
        line-height : 1.5;
      
        text-decoration : none;
      
        letter-spacing : -0.02em;
      
        color : #030B15;
      
      }
    

    

    

    

    
  

  
  

  
    
      textarea {
      
        margin : 0;
      
        padding : 17px 22px;
      
        font-family : Outfit, Arial, sans-serif;
      
        font-weight : 400;
      
        font-size : 20px;
      
        line-height : 1.5;
      
        text-decoration : none;
      
        letter-spacing : -0.02em;
      
        color : #030B15;
      
      }
    

    

    

    

    
  

  
  

  
    
      .label {
      
        font-family : Outfit, Arial, sans-serif;
      
        font-size : 16px;
      
        line-height : 24px;
      
        color : #A1AEB7;
      
      }
    

    

    

    

    
  

  
  

  
    
      .value {
      
        font-family : Outfit, Arial, sans-serif;
      
        font-size : 16px;
      
        line-height : 24px;
      
        color : #505D68;
      
      }
    

    

    

    

    
  

  
  

  
    
      .label-small {
      
        font-family : Outfit, Arial, sans-serif;
      
        font-size : 14px;
      
        line-height : 24px;
      
        color : #A1AEB7;
      
      }
    

    

    

    

    
  

.footer__link {
  display: inline;
  position: relative;
}

.footer__link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: #fff;
  -webkit-transform-origin: right top;
  -ms-transform-origin: right top;
  transform-origin: right top;
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
  transition: transform 0.4s cubic-bezier(.74, .72, .27, .24);
}

.footer__link:hover {
  color: #FFFFFF;
}

.footer__link:hover::before {
  transform-origin: left top;
  transform: scale(1, 1);
}
input {
  width: 100%;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(246, 246, 246, 0.06);
  box-shadow: 0px 4px 15px rgb(0 0 0 / 25%);
  border-radius: 11px;
  transition: .3s linear;
}

input::placeholder {
  color: #A1AEB7;
}

input:focus {
  background-color: #FFFFFF;
  border-color: #FFFFFF;
}
textarea {
  width: 100%;
  height: 165px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(246, 246, 246, 0.06);
  box-shadow: 0px 4px 15px rgb(0 0 0 / 25%);
  border-radius: 11px;
  transition: .3s linear;
  resize: vertical; /* user can resize vertically, but width is fixed */
}

textarea::placeholder {
  color: #A1AEB7;
}

textarea:focus {
  background-color: #FFFFFF;
  border-color: #FFFFFF;
}
.button {
  display: block;
  position: relative;
  background-color: #040E18;
  border-radius: 70px;
  border: 2px solid transparent;
  touch-action: manipulation;
  background-clip: padding-box;
  transition: all 0.4s 0s;
  box-shadow: 0px 6px 22px rgb(6 34 51 / 22%);
}

.button::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: -2px;
  background: linear-gradient(90deg, rgba(0, 196, 244, 1) 0%, rgba(4, 12, 21, 1) 49%, rgba(0, 196, 244, 1) 100%);
  border-radius: 70px;
  transition: all 0.4s ease 0s;
  z-index: -1;
}

.button:hover {
  border-color: #00C4F4;
  color: #00C4F4;
}
.button-blue {
  background-color: #00C4F4;
  border-radius: 70px;
  border: 2px solid transparent;
  color: #fff;
  cursor: pointer;
  padding: 25px 50px;
  touch-action: manipulation;
  transition: all 0.4s 0s;
  box-shadow: 0px 6px 22px rgb(6 34 51 / 22%);
  background-clip: padding-box;
  position: relative;
}

.button-blue:hover {
  background-color: #564DCA;
}
.button-square {
  width: 65px;
  height: 65px;
  background: #00C4F4;
  border-radius: 10px;
  color: #fff;
  border: none;
  background-image: url('/images/new/icons/telegram.svg');
  background-size: 20px 20px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}


/* logo */

.header__logo {
  position: absolute;
  top: 19px; /* .header__container padding not calculated */
  left: 8px;
}

.logo a {
  display: block;
  padding: 8px;
}

.logo a img {
  display: block; /* normalize geometry img inside a */
  width: 200px;
  height: 69px;
}

/* main-menu */

.header__main-menu-container {
  margin: 0 233px 0 128px; /* spaces for absolutely positioned logo/socials. */
}

.main-menu {
  margin: 0;
  padding: 0;
}

.main-menu__item {
  padding: 0 16px;
  display: block;
  float: left;
}

.main-menu__link {
  white-space: nowrap;
}

/* social */

.header__login-links { /* TODO maybe rename to social links */
  margin: 0;
  padding: 0;
}

.header__main-menu-container:before,
.header__main-menu-container:after,
.main-menu:before,
.main-menu:after,
.header__login-links:before,
.header__login-links:after { 
  content: "";
  display: table; 
}

.header__main-menu-container:after,
.header__login-links:after,
.main-menu:after {
  clear: both; 
}

.header__main-menu-container,
.header__login-links,
.main-menu { 
  zoom: 1; 
}

.main-menu,
login-links {
  float: left;
}

.login-links__item {
  padding: 8px;
  float: left;
}

.login-link {
  display: block;
}

.login-link img {
  display: block;
  width: auto;
}

/* containers */
/* Since IE 7, the max-width property works */

.header__container {
  position: relative;
}


/* social */

/* Since IE 8, we can remove for list list-style property. */

.login-links,
.main-menu {
  list-style: none;
}


.header__main-menu-burger { /* Burger is not needed if it is not a mobile version and javascript is not connected. */
  display: none;
}

@media (max-width: 1439px) {
  .main-menu,
  .login-links__item {
    float: none;
  }

  .login-button{
    display: inline-block;
  }

  .header__main-menu-container {
    /* margin top 8 + 20 + 8  must be equal to element with max height in header */
    margin: 36px 0 0 0;
  }

  .main-menu__item {
    display: block;
    float: none; /* Menu items will line up one above the other. */
    border-bottom: 1px solid #243448;
  }

  .main-menu__link {
    display: block;
  }

  .js .header__main-menu-container { /* Logo with js is static, and margin is no needed anymore. */
    margin: 0;
  }

  .js .header__main-menu-burger {
    display: block;
    /* Coincidentally, the height of the button is equal to the height of the logo, and there is no need to center the button. But if it were not so, you need to add padding for the container. */
    position: absolute;
    top: 8px;
    right: 8px;
  }

  .js .header__logo {
    /* The button has appeared, and it has absolute positioning. To prevent the logo from running over the button, we will return static positioning to it. */
    position: static;
    display: block;
  }

  .js .header__main-menu-container { /* Default class for menu (with js). */
    display: none;
  }

  .js .header__main-menu-container--opened { /* Class for opened menu. */
    display: block;
  }
}

@supports (display: flex) {
  .header {
    background-color: #030B15;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .blog .header {
    position: absolute;
    z-index: 2;
    background-color: transparent;
  }

  .blog .header--opened {
    background-color: #030B15;
  }

  .header .header__container,
  .header header {
    width: 100%;
    box-sizing: border-box;
  }

   /* https://developer.mozilla.org/en-US/docs/Web/CSS/@supports */
  .header__main-menu-container::before,
  .header__main-menu-container::after,
  .main-menu::before,
  .main-menu::after,
  .header__login-links::before,
  .header__login-links::after {
    content: none;
  }

  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header__main-menu-burger {
    display: none;
  }

  .header__main-menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    /* width: 77.5%; */
  }

  .header__logo {
    margin-right: auto; 
    position: static; /* The flex property works, and you can return the elements to their positioning. */
  }

  .header__login-links {
    position: static;
    display: flex;
    align-items: center;
  }

  .main-menu {
    display: flex;
    flex-wrap: wrap;
  }

  @media (max-width: 1439px) {
    .header__container {
      flex-wrap: wrap; /* Let's allow the transfer of elements so that on a small screen they become one under the other. */
    }
    
    .header__main-menu-burger {
      box-sizing: border-box;
      width: 41px; /* The width of the burger container is equal to the width of the social media links. This will make aligning the flex parent work better. */
    }

    .js .header__main-menu-burger {
      position: static;
    }


    .header__main-menu-container {
      width: 100%; /* The menu becomes a dropdown and is transferred to a new row. Should fill the entire screen width. */
      margin: 0;
      order: 4;
    }

    .header nav {
      width: 100%;
    }

    .main-menu {
      flex-direction: column;
      width: 100%;
      padding-bottom: 16px;
    }

    .js .header__main-menu-container--opened,
    .header__login-links {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }
}


.header__login-links.login-links {
  position: relative;
  margin-left: 16px;
  padding-left: 16px;
  z-index: 1;
}

.header__login-links.login-links::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 2px;
  height: 28px;
  background: #686d73;
  z-index: 1;
}

.header__login-links.login-links .button-blue {
  padding: 16px 35px;
}

@media (max-width: 1239px) {
  .header__login-links.login-links {
    margin-left: 0;
    padding-left: 0;
  }

  .header__login-links.login-links::before {
    content: none;
  }
}


html {
  scroll-behavior: smooth;
}


.section {
  position: relative;
  z-index: 1;
}

.section-60 {
  padding: 60px 0;
}

.section-60-120 {
  padding: 60px 0 120px;
}

.section-120-60 {
  padding: 120px 0 60px;
}

.section-120 {
  padding: 120px 0;
}
.spacer-120 {
  padding-top: 120px;
}

.spacer-100 {
  padding-top: 100px;
}

.spacer-60 {
  padding-top: 60px;
}

.spacer-40 {
  padding-top: 40px;
}

.spacer-24 {
  padding-top: 24px;
}

.spacer-20 {
  padding-top: 20px;
}

.spacer-16 {
  padding-top: 16px;
}


.footer {
  position: relative;
  z-index: 1;
  padding-top: 60px;
}

.footer::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(359.43deg, #0B1D33 11.06%, rgba(11, 29, 51, 0) 99.43%);
  z-index: -1;
}

.footer__top {
  padding-bottom: 48px;
}

.footer__bottom {
  border-top: 1px solid #18293d;
  padding: 4px 0;
}

.footer__form-container {
  flex-wrap: nowrap;
  align-items: stretch;
}

.footer__form-container {
  position: relative;
}

.footer__form-container button {
  position: absolute;
  right: 0;
  top: 0;
}

.footer__form-container input {
  width: 100%;
}

.footer__bottom-container {
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 1239px) {
  .footer__bottom-container {
    flex-direction: column;
  }
}

.footer__list li {
  padding: 4px 8px;
}

.logo-card-2 img {
  max-width: 180px;
  height auto;
  margin: 0 auto;
}
.chessdesk__content-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chessdesk__content {
  padding: 24px 0;
  max-width: 480px;
}

@media(max-width: 904px) {
  .chessdesk__content-container {
    order 1;
  }

  .chessdesk__img-container {
    order: 2;
  }
}
.benefit-card {
  border: 1px solid #22304d;
  border-radius: 11px;
}

.benefit-card__container {
  flex-direction: column;
}

.benefit-card__img {
  flex-shrink: 0;
}

.benefit-card__img img {
  width: 45px;
  height: 45px;
}

.benefit-card__content {
  display: table-cell;
}

.benefit-card__content,
.benefit-card__img {
  float: left;
}
.decorative {
  position: relative;
  overflow: hidden;
}

.decorative__content {
  position: relative;
  z-index: 5;
}

.decorative__picture {
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 790px;
  width: 55%;
  height: auto;
}

.logo-card-3 img {
  max-width: 165px;
  height auto;
  margin: 0 auto;
}