<!DOCTYPE html>
<html lang="en">
<head>
  <title>Documentation</title>
  <meta name="description" content="Answers for your questions.">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Menu -->
  <link rel="stylesheet" href="/css/documentation.css">

  {{ partial "js-head.html" . }}

</head>
<body>
  {{ partial "header.html" . }}

  <div class="main">
    <main>
      
      <div class="section section-60 section--white">
        <section>
          <div class="max-width-default ">
            <div class=text-center>
              <h1>DOCUMENTATION</h1>
              <p class="p-big">How many times have you been looking for a product, and seen a couple of options on a website, and thought, ‘what’s the difference?’. I’d guess many of you have. I’d also guess that many of you haven’t been able, or haven’t easily been able to find...</p>
            </div>
            <div class="spacer-60"></div>
            <picture>
        <source sizes="(min-width: 1200px) 1176px, (min-width: 1440px) calc((100vw - 32px)), (min-width: 1240px) calc((100vw - 32px)), (min-width: 905px) calc((100vw - 24px)), (min-width: 600px) calc((100vw - 24px)), calc((100vw - 16px))" type="image/webp" srcset="
      /images/img-documentation-304w.webp 304w,
      /images/img-documentation-344w.webp 344w,
      /images/img-documentation-359w.webp 359w,
      /images/img-documentation-398w.webp 398w,
      /images/img-documentation-412w.webp 412w,
      /images/img-documentation-608w.webp 608w,
      /images/img-documentation-688w.webp 688w,
      /images/img-documentation-718w.webp 718w,
      /images/img-documentation-744w.webp 744w,
      /images/img-documentation-796w.webp 796w,
      /images/img-documentation-824w.webp 824w,
      /images/img-documentation-912w.webp 912w,
      /images/img-documentation-1000w.webp 1000w,
      /images/img-documentation-1032w.webp 1032w,
      /images/img-documentation-1077w.webp 1077w,
      /images/img-documentation-1116w.webp 1116w,
      /images/img-documentation-1176w.webp 1176w,
      /images/img-documentation-1194w.webp 1194w,
      /images/img-documentation-1236w.webp 1236w,
      /images/img-documentation-1488w.webp 1488w,
      /images/img-documentation-1500w.webp 1500w,
      /images/img-documentation-1764w.webp 1764w,
      /images/img-documentation-2000w.webp 2000w">
<!-- TODO add img -->
  <img src="/images/img-documentation-1176w.png" alt="alt" width="1176" height="583">
</picture>
          </div>
        </section>
      </div>
      <div class="section section-60-120 section--white">
        <section>
          <div class="max-width-no-gaps no-gaps">
            <div class="responsive chessdesk">
              <div class="container-100_100_50_50_50 chessdesk__img-container">
                <picture>
        <source sizes="(min-width: 1440px) 1440px, (min-width: 1440px) calc(((100vw - 0px) * 0.50)), (min-width: 1240px) calc(((100vw - 0px) * 0.50)), (min-width: 905px) calc(((100vw - 0px) * 0.50)), (min-width: 600px) calc((100vw - 0px)), calc((100vw - 0px))" type="image/webp" srcset="
      /images/img-chessdesk-320w.webp 320w,
      /images/img-chessdesk-360w.webp 360w,
      /images/img-chessdesk-375w.webp 375w,
      /images/img-chessdesk-414w.webp 414w,
      /images/img-chessdesk-428w.webp 428w,
      /images/img-chessdesk-512w.webp 512w,
      /images/img-chessdesk-640w.webp 640w,
      /images/img-chessdesk-683w.webp 683w,
      /images/img-chessdesk-720w.webp 720w,
      /images/img-chessdesk-750w.webp 750w,
      /images/img-chessdesk-768w.webp 768w,
      /images/img-chessdesk-828w.webp 828w,
      /images/img-chessdesk-856w.webp 856w,
      /images/img-chessdesk-960w.webp 960w,
      /images/img-chessdesk-1024w.webp 1024w,
      /images/img-chessdesk-1025w.webp 1025w,
      /images/img-chessdesk-1080w.webp 1080w,
      /images/img-chessdesk-1125w.webp 1125w,
      /images/img-chessdesk-1152w.webp 1152w,
      /images/img-chessdesk-1242w.webp 1242w,
      /images/img-chessdesk-1280w.webp 1280w,
      /images/img-chessdesk-1284w.webp 1284w,
      /images/img-chessdesk-1366w.webp 1366w,
      /images/img-chessdesk-1440w.webp 1440w">
<!-- TODO add img -->
  <img src="/images/img-chessdesk-720w.png" alt="alt" width="720" height="543">
</picture>
              </div>
              <div class="container-100_100_50_50_50 chessdesk__content-container">
                <div class="buffer-big">
                  <div class="chessdesk__content">
                    <h3>Lorem ipsum dolor sit amet</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <div class="buffer-big">
                      <div class="responsive">
                        <a class="float-left button-blue" href="#">DOWNLOADED NOW</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="responsive chessdesk">
              <div class="container-100_100_50_50_50 chessdesk__content-container">
                <div class="buffer-big">
                  <div class="chessdesk__content">
                    <h3>Lorem ipsum dolor sit amet</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <div class="buffer-big">
                      <div class="responsive">
                        <a class="float-left button-blue" href="#">DOWNLOADED NOW</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="container-100_100_50_50_50 chessdesk__img-container">
                <picture>
        <source sizes="(min-width: 1440px) 1440px, (min-width: 1440px) calc(((100vw - 0px) * 0.50)), (min-width: 1240px) calc(((100vw - 0px) * 0.50)), (min-width: 905px) calc(((100vw - 0px) * 0.50)), (min-width: 600px) calc((100vw - 0px)), calc((100vw - 0px))" type="image/webp" srcset="
      /images/img-chessdesk-320w.webp 320w,
      /images/img-chessdesk-360w.webp 360w,
      /images/img-chessdesk-375w.webp 375w,
      /images/img-chessdesk-414w.webp 414w,
      /images/img-chessdesk-428w.webp 428w,
      /images/img-chessdesk-512w.webp 512w,
      /images/img-chessdesk-640w.webp 640w,
      /images/img-chessdesk-683w.webp 683w,
      /images/img-chessdesk-720w.webp 720w,
      /images/img-chessdesk-750w.webp 750w,
      /images/img-chessdesk-768w.webp 768w,
      /images/img-chessdesk-828w.webp 828w,
      /images/img-chessdesk-856w.webp 856w,
      /images/img-chessdesk-960w.webp 960w,
      /images/img-chessdesk-1024w.webp 1024w,
      /images/img-chessdesk-1025w.webp 1025w,
      /images/img-chessdesk-1080w.webp 1080w,
      /images/img-chessdesk-1125w.webp 1125w,
      /images/img-chessdesk-1152w.webp 1152w,
      /images/img-chessdesk-1242w.webp 1242w,
      /images/img-chessdesk-1280w.webp 1280w,
      /images/img-chessdesk-1284w.webp 1284w,
      /images/img-chessdesk-1366w.webp 1366w,
      /images/img-chessdesk-1440w.webp 1440w">
<!-- TODO add img -->
  <img src="/images/img-chessdesk-720w.png" alt="alt" width="720" height="543">
</picture>
              </div>
            </div>

            <div class="responsive chessdesk">
              <div class="container-100_100_50_50_50 chessdesk__img-container">
                <picture>
        <source sizes="(min-width: 1440px) 1440px, (min-width: 1440px) calc(((100vw - 0px) * 0.50)), (min-width: 1240px) calc(((100vw - 0px) * 0.50)), (min-width: 905px) calc(((100vw - 0px) * 0.50)), (min-width: 600px) calc((100vw - 0px)), calc((100vw - 0px))" type="image/webp" srcset="
      /images/img-chessdesk-320w.webp 320w,
      /images/img-chessdesk-360w.webp 360w,
      /images/img-chessdesk-375w.webp 375w,
      /images/img-chessdesk-414w.webp 414w,
      /images/img-chessdesk-428w.webp 428w,
      /images/img-chessdesk-512w.webp 512w,
      /images/img-chessdesk-640w.webp 640w,
      /images/img-chessdesk-683w.webp 683w,
      /images/img-chessdesk-720w.webp 720w,
      /images/img-chessdesk-750w.webp 750w,
      /images/img-chessdesk-768w.webp 768w,
      /images/img-chessdesk-828w.webp 828w,
      /images/img-chessdesk-856w.webp 856w,
      /images/img-chessdesk-960w.webp 960w,
      /images/img-chessdesk-1024w.webp 1024w,
      /images/img-chessdesk-1025w.webp 1025w,
      /images/img-chessdesk-1080w.webp 1080w,
      /images/img-chessdesk-1125w.webp 1125w,
      /images/img-chessdesk-1152w.webp 1152w,
      /images/img-chessdesk-1242w.webp 1242w,
      /images/img-chessdesk-1280w.webp 1280w,
      /images/img-chessdesk-1284w.webp 1284w,
      /images/img-chessdesk-1366w.webp 1366w,
      /images/img-chessdesk-1440w.webp 1440w">
<!-- TODO add img -->
  <img src="/images/img-chessdesk-720w.png" alt="alt" width="720" height="543">
</picture>
              </div>
              <div class="container-100_100_50_50_50 chessdesk__content-container">
                <div class="buffer-big">
                  <div class="chessdesk__content">
                    <h3>Lorem ipsum dolor sit amet</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <div class="buffer-big">
                      <div class="responsive">
                        <a class="float-left button-blue" href="#">DOWNLOADED NOW</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="responsive chessdesk">
              <div class="container-100_100_50_50_50 chessdesk__content-container">
                <div class="buffer-big">
                  <div class="chessdesk__content">
                    <h3>Lorem ipsum dolor sit amet</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <div class="buffer-big">
                      <div class="responsive">
                        <a class="float-left button-blue" href="#">DOWNLOADED NOW</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="container-100_100_50_50_50 chessdesk__img-container">
                <picture>
        <source sizes="(min-width: 1440px) 1440px, (min-width: 1440px) calc(((100vw - 0px) * 0.50)), (min-width: 1240px) calc(((100vw - 0px) * 0.50)), (min-width: 905px) calc(((100vw - 0px) * 0.50)), (min-width: 600px) calc((100vw - 0px)), calc((100vw - 0px))" type="image/webp" srcset="
      /images/img-chessdesk-320w.webp 320w,
      /images/img-chessdesk-360w.webp 360w,
      /images/img-chessdesk-375w.webp 375w,
      /images/img-chessdesk-414w.webp 414w,
      /images/img-chessdesk-428w.webp 428w,
      /images/img-chessdesk-512w.webp 512w,
      /images/img-chessdesk-640w.webp 640w,
      /images/img-chessdesk-683w.webp 683w,
      /images/img-chessdesk-720w.webp 720w,
      /images/img-chessdesk-750w.webp 750w,
      /images/img-chessdesk-768w.webp 768w,
      /images/img-chessdesk-828w.webp 828w,
      /images/img-chessdesk-856w.webp 856w,
      /images/img-chessdesk-960w.webp 960w,
      /images/img-chessdesk-1024w.webp 1024w,
      /images/img-chessdesk-1025w.webp 1025w,
      /images/img-chessdesk-1080w.webp 1080w,
      /images/img-chessdesk-1125w.webp 1125w,
      /images/img-chessdesk-1152w.webp 1152w,
      /images/img-chessdesk-1242w.webp 1242w,
      /images/img-chessdesk-1280w.webp 1280w,
      /images/img-chessdesk-1284w.webp 1284w,
      /images/img-chessdesk-1366w.webp 1366w,
      /images/img-chessdesk-1440w.webp 1440w">
<!-- TODO add img -->
  <img src="/images/img-chessdesk-720w.png" alt="alt" width="720" height="543">
</picture>
              </div>
            </div>

          </div>
        </section>
      </div>
    </main>
  </div>
  
  {{ partial "footer.html" . }}

  <script src="/js/index.js"></script>
</body>
</html>