<!DOCTYPE html>
<html lang="en">
<head>
  <title>Partners</title>
  <meta name="description" content="Our partners">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Menu -->
  <link rel="stylesheet" href="/css/features.css">

  {{ partial "js-head.html" . }}

</head>
<body>
  {{ partial "header.html" . }}

  <div class="main">
    <main>
      
      <div class="section section-60 section--white">
        <section>
          <div class="max-width-medium medium">
            <h1 class="text-center">Partners</h1>
          </div>
        </section>
      </div>
      <div class="section section--white">
        <section>
          <div class="max-width-no-gaps no-gaps">
            <div class="responsive chessdesk">
              <div class="container-100_100_50_50_50 chessdesk__img-container">
                <picture>
      <source sizes="(min-width: 1440px) 1440px, (min-width: 1440px) calc(((100vw - 0px) * 0.50)), (min-width: 1240px) calc(((100vw - 0px) * 0.50)), (min-width: 905px) calc(((100vw - 0px) * 0.50)), (min-width: 600px) calc((100vw - 0px)), calc((100vw - 0px))" type="image/webp" srcset="
      /images/img-new-fishing_planet-320w.webp 320w,
      /images/img-new-fishing_planet-360w.webp 360w,
      /images/img-new-fishing_planet-375w.webp 375w,
      /images/img-new-fishing_planet-414w.webp 414w,
      /images/img-new-fishing_planet-428w.webp 428w,
      /images/img-new-fishing_planet-512w.webp 512w,
      /images/img-new-fishing_planet-640w.webp 640w,
      /images/img-new-fishing_planet-683w.webp 683w,
      /images/img-new-fishing_planet-720w.webp 720w,
      /images/img-new-fishing_planet-750w.webp 750w,
      /images/img-new-fishing_planet-768w.webp 768w,
      /images/img-new-fishing_planet-828w.webp 828w,
      /images/img-new-fishing_planet-856w.webp 856w,
      /images/img-new-fishing_planet-960w.webp 960w,
      /images/img-new-fishing_planet-1024w.webp 1024w,
      /images/img-new-fishing_planet-1025w.webp 1025w,
      /images/img-new-fishing_planet-1080w.webp 1080w,
      /images/img-new-fishing_planet-1125w.webp 1125w,
      /images/img-new-fishing_planet-1152w.webp 1152w,
      /images/img-new-fishing_planet-1242w.webp 1242w,
      /images/img-new-fishing_planet-1280w.webp 1280w,
      /images/img-new-fishing_planet-1284w.webp 1284w,
      /images/img-new-fishing_planet-1366w.webp 1366w,
      /images/img-new-fishing_planet-1440w.webp 1440w,
      /images/img-new-fishing_planet-1536w.webp 1536w">
<!-- TODO add img -->
  <img src="/images/img-new-fishing_planet-720w.jpeg" alt="alt" width="720" height="405">
</picture>
              </div>
              <div class="container-100_100_50_50_50 chessdesk__content-container">
                <div class="buffer-big">
                  <div class="chessdesk__content">
                    <h3>Fishing Planet</h3>
                    <p>Fishing Planet® is a highly realistic first-person online multiplayer fishing simulator. Developed by avid fishing enthusiasts to bring you the full thrill of actual angling on your PC.</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="responsive chessdesk">
              <div class="container-100_100_50_50_50 chessdesk__content-container">
                <div class="buffer-big">
                  <div class="chessdesk__content">
                    <h3>Train Planet</h3>
                    <p>Train Planet is a railroad simulator that allows you to design, manage and operate your own railway network. Start at the dawn of railroad technology and evolve into a modern railroad company. Deliver cargo and transport passengers, open new regions and expand your network.</p>
                  </div>
                </div>
              </div>
              <div class="container-100_100_50_50_50 chessdesk__img-container">
                <picture>
      <source sizes="(min-width: 1440px) 1440px, (min-width: 1440px) calc(((100vw - 0px) * 0.50)), (min-width: 1240px) calc(((100vw - 0px) * 0.50)), (min-width: 905px) calc(((100vw - 0px) * 0.50)), (min-width: 600px) calc((100vw - 0px)), calc((100vw - 0px))" type="image/webp" srcset="
      /images/img-new-train_planet-320w.webp 320w,
      /images/img-new-train_planet-360w.webp 360w,
      /images/img-new-train_planet-375w.webp 375w,
      /images/img-new-train_planet-414w.webp 414w,
      /images/img-new-train_planet-428w.webp 428w,
      /images/img-new-train_planet-512w.webp 512w,
      /images/img-new-train_planet-640w.webp 640w,
      /images/img-new-train_planet-683w.webp 683w,
      /images/img-new-train_planet-720w.webp 720w,
      /images/img-new-train_planet-750w.webp 750w,
      /images/img-new-train_planet-768w.webp 768w,
      /images/img-new-train_planet-828w.webp 828w,
      /images/img-new-train_planet-856w.webp 856w,
      /images/img-new-train_planet-960w.webp 960w,
      /images/img-new-train_planet-1024w.webp 1024w,
      /images/img-new-train_planet-1025w.webp 1025w,
      /images/img-new-train_planet-1080w.webp 1080w,
      /images/img-new-train_planet-1125w.webp 1125w,
      /images/img-new-train_planet-1152w.webp 1152w,
      /images/img-new-train_planet-1242w.webp 1242w,
      /images/img-new-train_planet-1280w.webp 1280w,
      /images/img-new-train_planet-1284w.webp 1284w,
      /images/img-new-train_planet-1366w.webp 1366w,
      /images/img-new-train_planet-1440w.webp 1440w,
      /images/img-new-train_planet-1536w.webp 1536w">
<!-- TODO add img -->
  <img src="/images/img-new-train_planet-720w.jpeg" alt="alt" width="720" height="405">
</picture>
              </div>
            </div>

          </div>
        </section>
      </div>
    </main>
  </div>

  {{ partial "footer.html" . }}
  <script src="/js/index.js"></script>
</body>
</html>