<!DOCTYPE html>
<html lang="en">
<head>
  <title>Platforms</title>
  <meta name="description" content="Our platforms">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Menu -->
  <link rel="stylesheet" href="/css/platforms.css">

  {{ partial "js-head.html" . }}

</head>
<body>

  {{ partial "header.html" . }}

  <div class="main">
    <main>
      
      <div class="section section-60 section--white">
        <section>
          <div class="max-width-medium medium">
            <h1 class="text-center">Platforms</h1>
          </div>
        </section>
      </div>
      <div class="section section-60-120 section--white">
        <section>
          <div class="max-width-default ">
            <h2 class="text-center">Client Game Engines</h2>
            <div class="spacer-20"></div>
            <div class="responsive justify-content-center">
              <div class="container-100_50_33_25_20">
      <a href="#">
        <div class="logo-card">
          <div class="logo-card__img">
            <picture>
    <source sizes="144px" type="image/webp" srcset="
      /images/Hb_W2ZmsqB-144.webp 144w,
      /images/Hb_W2ZmsqB-216.webp 216w,
      /images/Hb_W2ZmsqB-288.webp 288w,
      /images/Hb_W2ZmsqB-432.webp 432w">
  <img src="/images/Hb_W2ZmsqB-144.png" alt="alt" width="144" height="52">
</picture>
          </div>
        </div>
      </a>
  </div>
              <div class="container-100_50_33_25_20">
      <a href="#">
        <div class="logo-card">
          <div class="logo-card__img">
            <picture>
    <source sizes="110px" type="image/webp" srcset="
      /images/-qKRrZ8Ybt-110.webp 110w,
      /images/-qKRrZ8Ybt-165.webp 165w,
      /images/-qKRrZ8Ybt-220.webp 220w,
      /images/-qKRrZ8Ybt-330.webp 330w">
  <img src="/images/-qKRrZ8Ybt-110.png" alt="alt" width="110" height="90">
</picture>
          </div>
        </div>
      </a>
  </div>
              <div class="container-100_50_33_25_20">
      <a href="#">
        <div class="logo-card">
          <div class="logo-card__img">
            <picture>
    <source sizes="171px" type="image/webp" srcset="
      /images/imarc1JHzc-171.webp 171w,
      /images/imarc1JHzc-256.webp 256w,
      /images/imarc1JHzc-342.webp 342w,
      /images/imarc1JHzc-513.webp 513w">
  <img src="/images/imarc1JHzc-171.png" alt="alt" width="171" height="48">
</picture>
          </div>
        </div>
      </a>
  </div>
            </div>
          </div>
        </section>
      </div>
      <div class="section section-60-120 section--white">
        <section>
          <div class="max-width-default ">
            <h2 class="text-center">Client Platforms</h2>
            <div class="spacer-20"></div>
            <div class="responsive justify-content-center">
              <div class="container-100_50_33_25_20">
      <a href="#">
        <div class="logo-card">
          <div class="logo-card__img">
            <picture>
    <source sizes="144px" type="image/webp" srcset="
      /images/nDbqhr0YmU-144.webp 144w,
      /images/nDbqhr0YmU-216.webp 216w,
      /images/nDbqhr0YmU-288.webp 288w,
      /images/nDbqhr0YmU-432.webp 432w">
  <img src="/images/nDbqhr0YmU-144.png" alt="alt" width="144" height="30">
</picture>
          </div>
        </div>
      </a>
  </div>
              <div class="container-100_50_33_25_20">
      <a href="#">
        <div class="logo-card">
          <div class="logo-card__img">
            <picture>
    <source sizes="100px" type="image/webp" srcset="
      /images/XleXMxzVhp-100.webp 100w,
      /images/XleXMxzVhp-150.webp 150w,
      /images/XleXMxzVhp-200.webp 200w,
      /images/XleXMxzVhp-300.webp 300w">
  <img src="/images/XleXMxzVhp-100.png" alt="alt" width="100" height="100">
</picture>
          </div>
        </div>
      </a>
  </div>
              <div class="container-100_50_33_25_20">
      <a href="#">
        <div class="logo-card">
          <div class="logo-card__img">
            <picture>
    <source sizes="144px" type="image/webp" srcset="
      /images/tD9QqYEnzs-144.webp 144w,
      /images/tD9QqYEnzs-216.webp 216w,
      /images/tD9QqYEnzs-288.webp 288w">
  <img src="/images/tD9QqYEnzs-144.png" alt="alt" width="144" height="51">
</picture>
          </div>
        </div>
      </a>
  </div>
              <div class="container-100_50_33_25_20">
      <a href="#">
        <div class="logo-card">
          <div class="logo-card__img">
            <picture>
    <source sizes="100px" type="image/webp" srcset="
      /images/nTZ7WpdsGV-100.webp 100w,
      /images/nTZ7WpdsGV-150.webp 150w,
      /images/nTZ7WpdsGV-200.webp 200w,
      /images/nTZ7WpdsGV-300.webp 300w">
  <img src="/images/nTZ7WpdsGV-100.png" alt="alt" width="100" height="100">
</picture>
          </div>
        </div>
      </a>
  </div>
              <div class="container-100_50_33_25_20">
      <a href="#">
        <div class="logo-card">
          <div class="logo-card__img">
            <picture>
    <source sizes="100px" type="image/webp" srcset="
      /images/nmJfIo3Pg0-100.webp 100w,
      /images/nmJfIo3Pg0-150.webp 150w,
      /images/nmJfIo3Pg0-200.webp 200w,
      /images/nmJfIo3Pg0-300.webp 300w">
  <img src="/images/nmJfIo3Pg0-100.png" alt="alt" width="100" height="87">
</picture>
          </div>
        </div>
      </a>
  </div>
              <div class="container-100_50_33_25_20">
      <a href="#">
        <div class="logo-card">
          <div class="logo-card__img">
            <picture>
    <source sizes="145px" type="image/webp" srcset="
      /images/fvMMZNu0lr-145.webp 145w,
      /images/fvMMZNu0lr-217.webp 217w,
      /images/fvMMZNu0lr-290.webp 290w,
      /images/fvMMZNu0lr-435.webp 435w">
  <img src="/images/fvMMZNu0lr-145.png" alt="alt" width="145" height="33">
</picture>
          </div>
        </div>
      </a>
  </div>
              <div class="container-100_50_33_25_20">
      <a href="#">
        <div class="logo-card">
          <div class="logo-card__img">
            <picture>
    <source sizes="144px" type="image/webp" srcset="
      /images/JrdV8aFFBF-144.webp 144w,
      /images/JrdV8aFFBF-216.webp 216w,
      /images/JrdV8aFFBF-288.webp 288w,
      /images/JrdV8aFFBF-432.webp 432w">
  <img src="/images/JrdV8aFFBF-144.png" alt="alt" width="144" height="33">
</picture>
          </div>
        </div>
      </a>
  </div>
              <div class="container-100_50_33_25_20">
      <a href="#">
        <div class="logo-card">
          <div class="logo-card__img">
            <picture>
    <source sizes="100px" type="image/webp" srcset="
      /images/juEBRG1Lv1-100.webp 100w,
      /images/juEBRG1Lv1-150.webp 150w,
      /images/juEBRG1Lv1-200.webp 200w,
      /images/juEBRG1Lv1-300.webp 300w">
  <img src="/images/juEBRG1Lv1-100.png" alt="alt" width="100" height="100">
</picture>
          </div>
        </div>
      </a>
  </div>

              <div class="container-100_50_33_25_20">
      <a href="#">
        <div class="logo-card">
          <div class="logo-card__img">
            <picture>
    <source sizes="180px" type="image/webp" srcset="
      /images/WU5DYU2_7Y-180.webp 180w,
      /images/WU5DYU2_7Y-270.webp 270w">
  <img src="/images/WU5DYU2_7Y-180.png" alt="alt" width="180" height="35">
</picture>
          </div>
        </div>
      </a>
  </div>
              <div class="container-100_50_33_25_20">
      <a href="#">
        <div class="logo-card">
          <div class="logo-card__img">
            <picture>
    <source sizes="100px" type="image/webp" srcset="
      /images/j8jgzVEJIu-100.webp 100w,
      /images/j8jgzVEJIu-150.webp 150w,
      /images/j8jgzVEJIu-200.webp 200w,
      /images/j8jgzVEJIu-300.webp 300w">
  <img src="/images/j8jgzVEJIu-100.png" alt="alt" width="100" height="100">
</picture>
          </div>
        </div>
      </a>
  </div>
              <div class="container-100_50_33_25_20">
      <a href="#">
        <div class="logo-card">
          <div class="logo-card__img">
            <picture>
    <source sizes="180px" type="image/webp" srcset="
      /images/tguhW-Zmf1-180.webp 180w,
      /images/tguhW-Zmf1-270.webp 270w,
      /images/tguhW-Zmf1-360.webp 360w,
      /images/tguhW-Zmf1-540.webp 540w">
  <img src="/images/tguhW-Zmf1-180.png" alt="alt" width="180" height="62 ">
</picture>
          </div>
        </div>
      </a>
  </div>

            </div>
          </div>
        </section>
      </div>
            <div class="section section-60-120 section--white">
        <section>
          <div class="max-width-default ">
            <h2 class="text-center">Server Platforms</h2>
            <div class="spacer-20"></div>
            <div class="responsive justify-content-center">
              <div class="container-100_50_33_25_20">
      <a href="#">
        <div class="logo-card">
          <div class="logo-card__img">
            <picture>
    <source sizes="180px" type="image/webp" srcset="
      /images/WCxHqAvcVa-180.webp 180w,
      /images/WCxHqAvcVa-270.webp 270w,
      /images/WCxHqAvcVa-360.webp 360w,
      /images/WCxHqAvcVa-540.webp 540w">
  <img src="/images/WCxHqAvcVa-180.png" alt="alt" width="180" height="50">
</picture>
          </div>
        </div>
      </a>
  </div>
              <div class="container-100_50_33_25_20">
      <a href="#">
        <div class="logo-card">
          <div class="logo-card__img">
            <picture>
    <source sizes="120px" type="image/webp" srcset="
      /images/zNZN8m4mo_-120.webp 120w,
      /images/zNZN8m4mo_-180.webp 180w">
  <img src="/images/zNZN8m4mo_-120.png" alt="alt" width="120" height="100">
</picture>
          </div>
        </div>
      </a>
  </div>
              <div class="container-100_50_33_25_20">
      <a href="#">
        <div class="logo-card">
          <div class="logo-card__img">
            <picture>
    <source sizes="80px" type="image/webp" srcset="
      /images/x3xl2MG6RW-80.webp 80w,
      /images/x3xl2MG6RW-120.webp 120w,
      /images/x3xl2MG6RW-160.webp 160w,
      /images/x3xl2MG6RW-240.webp 240w">
  <img src="/images/x3xl2MG6RW-80.png" alt="alt" width="80" height="106">
</picture>
          </div>
        </div>
      </a>
  </div>
              <div class="container-100_50_33_25_20">
      <a href="#">
        <div class="logo-card">
          <div class="logo-card__img">
            <picture>
    <source sizes="100px" type="image/webp" srcset="
      /images/itrxjpiWEe-100.webp 100w,
      /images/itrxjpiWEe-150.webp 150w,
      /images/itrxjpiWEe-200.webp 200w,
      /images/itrxjpiWEe-300.webp 300w">
  <img src="/images/itrxjpiWEe-100.png" alt="alt" width="100" height="100">
</picture>
          </div>
        </div>
      </a>
  </div>
            </div>
          </div>
        </section>
      </div>
            <div class="section section-60-120 section--white">
        <section>
          <div class="max-width-default ">
            <h2 class="text-center">Server Languages</h2>
            <div class="spacer-20"></div>
            <div class="responsive justify-content-center">
              <div class="container-100_50_33_25_20">
      <a href="#">
        <div class="logo-card">
          <div class="logo-card__img">
            <picture>
    <source sizes="100px" type="image/webp" srcset="
      /images/T0f7pKNBkH-100.webp 100w,
      /images/T0f7pKNBkH-150.webp 150w,
      /images/T0f7pKNBkH-200.webp 200w,
      /images/T0f7pKNBkH-300.webp 300w">
  <img src="/images/T0f7pKNBkH-100.png" alt="alt" width="100" height="100">
</picture>
          </div>
        </div>
      </a>
  </div>
              <div class="container-100_50_33_25_20">
      <a href="#">
        <div class="logo-card">
          <div class="logo-card__img">
            <picture>
    <source sizes="100px" type="image/webp" srcset="
      /images/Q-tyScbQ-x-100.webp 100w,
      /images/Q-tyScbQ-x-150.webp 150w,
      /images/Q-tyScbQ-x-200.webp 200w,
      /images/Q-tyScbQ-x-300.webp 300w">
  <img src="/images/Q-tyScbQ-x-100.png" alt="alt" width="100" height="100">
</picture>
          </div>
        </div>
      </a>
  </div>
              <div class="container-100_50_33_25_20">
      <a href="#">
        <div class="logo-card">
          <div class="logo-card__img">
            <picture>
    <source sizes="90px" type="image/webp" srcset="
      /images/07vxSmD5iL-90.webp 90w,
      /images/07vxSmD5iL-135.webp 135w,
      /images/07vxSmD5iL-180.webp 180w,
      /images/07vxSmD5iL-270.webp 270w">
  <img src="/images/07vxSmD5iL-90.png" alt="alt" width="90" height="99">
</picture>
          </div>
        </div>
      </a>
  </div>
              <div class="container-100_50_33_25_20">
      <a href="#">
        <div class="logo-card">
          <div class="logo-card__img">
            <picture>
    <source sizes="171px" type="image/webp" srcset="
      /images/jqUXMBHmq0-171.webp 171w,
      /images/jqUXMBHmq0-256.webp 256w,
      /images/jqUXMBHmq0-342.webp 342w,
      /images/jqUXMBHmq0-513.webp 513w">
  <img src="/images/jqUXMBHmq0-171.png" alt="alt" width="171" height="36">
</picture>
          </div>
        </div>
      </a>
  </div>
            </div>
          </div>
        </section>
      </div>
    </main>
  </div>
  
  {{ partial "footer.html" . }}

  <script src="/js/index.js"></script>
</body>
</html>