<!DOCTYPE html>
<html lang="en">
<head>
  <title>Products</title>
  <meta name="description" content="Our products.">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Menu -->
  <link rel="stylesheet" href="/css/products.css">

  {{ partial "js-head.html" . }}

</head>
<body>

  {{ partial "header.html" . }}

  <div class="main">
    <main>
      
      <div class="section section-60 section--white">
        <section>
          <div class="max-width-default ">
            <div class="text-center">
              <div class="max-width-text text">
              <h1>ALL PODUCTS</h1>
              <div class="spacer-40"></div>
              <p>Multiplatform next generation high-load server framework that simplifies game development cycle</p>
              </div>
            </div>
            <div class="spacer-60"></div>
            <div class="gallery">
              <ul class="responsive list-reset gallery__filter">
                <li>
                  <div class="buffer-big">
                    <a data-for="all" class="gallery__filter-link gallery__filter-link--current" href="./">
                      ALL
                    </a>
                  </div>
                </li>
                <li>
                  <div class="buffer-big">
                    <a data-for="category-1" class="gallery__filter-link" href="masonry-gallery-photo/">
                      CATEGORY 1
                    </a>
                  </div>
                </li>
                <li>
                  <div class="buffer-big">
                    <a data-for="category-2" class="gallery__filter-link" href="masonry-gallery-architecture/">
                      CATEGORY 2
                    </a>
                  </div>
                </li>
                <li>
                  <div class="buffer-big">
                    <a data-for="category-3" class="gallery__filter-link" href="masonry-gallery-design/">
                      CATEGORY 3
                    </a>
                  </div>
                </li>
              </ul>
              <div class="responsive gallery__items">

                <div class="container-100_50_25_25_25 gallery__item-container">
    <a href="/products/product/">
      <div data-item="all category-1" class="gallery__item">
        <div class="buffer-big">
          <picture>
        <source sizes="(min-width: 1200px) 270px, (min-width: 1440px) calc((((100vw - 32px) * 0.25) - 32px)), (min-width: 1240px) calc((((100vw - 32px) * 0.25) - 32px)), (min-width: 905px) calc((((100vw - 24px) * 0.25) - 24px)), (min-width: 600px) calc((((100vw - 24px) * 0.50) - 24px)), calc(((100vw - 16px) - 16px))" type="image/webp" srcset="
      /images/img-product-226w.webp 226w,
      /images/img-product-270w.webp 270w,
      /images/img-product-288w.webp 288w,
      /images/img-product-328w.webp 328w,
      /images/img-product-339w.webp 339w,
      /images/img-product-343w.webp 343w,
      /images/img-product-348w.webp 348w,
      /images/img-product-382w.webp 382w,
      /images/img-product-396w.webp 396w,
      /images/img-product-405w.webp 405w,
      /images/img-product-452w.webp 452w,
      /images/img-product-522w.webp 522w">
<!-- TODO add img -->
  <img src="/images/img-product-270w.png" alt="alt" width="270" height="203">
</picture>
        </div>
      </div>
    </a>
  </div>
                <div class="container-100_50_25_25_25 gallery__item-container">
    <a href="/products/product/">
      <div data-item="all category-1" class="gallery__item">
        <div class="buffer-big">
          <picture>
        <source sizes="(min-width: 1200px) 270px, (min-width: 1440px) calc((((100vw - 32px) * 0.25) - 32px)), (min-width: 1240px) calc((((100vw - 32px) * 0.25) - 32px)), (min-width: 905px) calc((((100vw - 24px) * 0.25) - 24px)), (min-width: 600px) calc((((100vw - 24px) * 0.50) - 24px)), calc(((100vw - 16px) - 16px))" type="image/webp" srcset="
      /images/img-product-226w.webp 226w,
      /images/img-product-270w.webp 270w,
      /images/img-product-288w.webp 288w,
      /images/img-product-328w.webp 328w,
      /images/img-product-339w.webp 339w,
      /images/img-product-343w.webp 343w,
      /images/img-product-348w.webp 348w,
      /images/img-product-382w.webp 382w,
      /images/img-product-396w.webp 396w,
      /images/img-product-405w.webp 405w,
      /images/img-product-452w.webp 452w,
      /images/img-product-522w.webp 522w">
<!-- TODO add img -->
  <img src="/images/img-product-270w.png" alt="alt" width="270" height="203">
</picture>
        </div>
      </div>
    </a>
  </div>
                <div class="container-100_50_25_25_25 gallery__item-container">
    <a href="/products/product/">
      <div data-item="all category-1" class="gallery__item">
        <div class="buffer-big">
          <picture>
        <source sizes="(min-width: 1200px) 270px, (min-width: 1440px) calc((((100vw - 32px) * 0.25) - 32px)), (min-width: 1240px) calc((((100vw - 32px) * 0.25) - 32px)), (min-width: 905px) calc((((100vw - 24px) * 0.25) - 24px)), (min-width: 600px) calc((((100vw - 24px) * 0.50) - 24px)), calc(((100vw - 16px) - 16px))" type="image/webp" srcset="
      /images/img-product-226w.webp 226w,
      /images/img-product-270w.webp 270w,
      /images/img-product-288w.webp 288w,
      /images/img-product-328w.webp 328w,
      /images/img-product-339w.webp 339w,
      /images/img-product-343w.webp 343w,
      /images/img-product-348w.webp 348w,
      /images/img-product-382w.webp 382w,
      /images/img-product-396w.webp 396w,
      /images/img-product-405w.webp 405w,
      /images/img-product-452w.webp 452w,
      /images/img-product-522w.webp 522w">
<!-- TODO add img -->
  <img src="/images/img-product-270w.png" alt="alt" width="270" height="203">
</picture>
        </div>
      </div>
    </a>
  </div>
                <div class="container-100_50_25_25_25 gallery__item-container">
    <a href="/products/product/">
      <div data-item="all category-1" class="gallery__item">
        <div class="buffer-big">
          <picture>
        <source sizes="(min-width: 1200px) 270px, (min-width: 1440px) calc((((100vw - 32px) * 0.25) - 32px)), (min-width: 1240px) calc((((100vw - 32px) * 0.25) - 32px)), (min-width: 905px) calc((((100vw - 24px) * 0.25) - 24px)), (min-width: 600px) calc((((100vw - 24px) * 0.50) - 24px)), calc(((100vw - 16px) - 16px))" type="image/webp" srcset="
      /images/img-product-226w.webp 226w,
      /images/img-product-270w.webp 270w,
      /images/img-product-288w.webp 288w,
      /images/img-product-328w.webp 328w,
      /images/img-product-339w.webp 339w,
      /images/img-product-343w.webp 343w,
      /images/img-product-348w.webp 348w,
      /images/img-product-382w.webp 382w,
      /images/img-product-396w.webp 396w,
      /images/img-product-405w.webp 405w,
      /images/img-product-452w.webp 452w,
      /images/img-product-522w.webp 522w">
<!-- TODO add img -->
  <img src="/images/img-product-270w.png" alt="alt" width="270" height="203">
</picture>
        </div>
      </div>
    </a>
  </div>

                <div class="container-100_50_25_25_25 gallery__item-container">
    <a href="/products/product/">
      <div data-item="all category-1" class="gallery__item">
        <div class="buffer-big">
          <picture>
        <source sizes="(min-width: 1200px) 270px, (min-width: 1440px) calc((((100vw - 32px) * 0.25) - 32px)), (min-width: 1240px) calc((((100vw - 32px) * 0.25) - 32px)), (min-width: 905px) calc((((100vw - 24px) * 0.25) - 24px)), (min-width: 600px) calc((((100vw - 24px) * 0.50) - 24px)), calc(((100vw - 16px) - 16px))" type="image/webp" srcset="
      /images/img-product-226w.webp 226w,
      /images/img-product-270w.webp 270w,
      /images/img-product-288w.webp 288w,
      /images/img-product-328w.webp 328w,
      /images/img-product-339w.webp 339w,
      /images/img-product-343w.webp 343w,
      /images/img-product-348w.webp 348w,
      /images/img-product-382w.webp 382w,
      /images/img-product-396w.webp 396w,
      /images/img-product-405w.webp 405w,
      /images/img-product-452w.webp 452w,
      /images/img-product-522w.webp 522w">
<!-- TODO add img -->
  <img src="/images/img-product-270w.png" alt="alt" width="270" height="203">
</picture>
        </div>
      </div>
    </a>
  </div>
                <div class="container-100_50_25_25_25 gallery__item-container">
    <a href="/products/product/">
      <div data-item="all category-2" class="gallery__item">
        <div class="buffer-big">
          <picture>
        <source sizes="(min-width: 1200px) 270px, (min-width: 1440px) calc((((100vw - 32px) * 0.25) - 32px)), (min-width: 1240px) calc((((100vw - 32px) * 0.25) - 32px)), (min-width: 905px) calc((((100vw - 24px) * 0.25) - 24px)), (min-width: 600px) calc((((100vw - 24px) * 0.50) - 24px)), calc(((100vw - 16px) - 16px))" type="image/webp" srcset="
      /images/img-product-226w.webp 226w,
      /images/img-product-270w.webp 270w,
      /images/img-product-288w.webp 288w,
      /images/img-product-328w.webp 328w,
      /images/img-product-339w.webp 339w,
      /images/img-product-343w.webp 343w,
      /images/img-product-348w.webp 348w,
      /images/img-product-382w.webp 382w,
      /images/img-product-396w.webp 396w,
      /images/img-product-405w.webp 405w,
      /images/img-product-452w.webp 452w,
      /images/img-product-522w.webp 522w">
<!-- TODO add img -->
  <img src="/images/img-product-270w.png" alt="alt" width="270" height="203">
</picture>
        </div>
      </div>
    </a>
  </div>
                <div class="container-100_50_25_25_25 gallery__item-container">
    <a href="/products/product/">
      <div data-item="all category-2" class="gallery__item">
        <div class="buffer-big">
          <picture>
        <source sizes="(min-width: 1200px) 270px, (min-width: 1440px) calc((((100vw - 32px) * 0.25) - 32px)), (min-width: 1240px) calc((((100vw - 32px) * 0.25) - 32px)), (min-width: 905px) calc((((100vw - 24px) * 0.25) - 24px)), (min-width: 600px) calc((((100vw - 24px) * 0.50) - 24px)), calc(((100vw - 16px) - 16px))" type="image/webp" srcset="
      /images/img-product-226w.webp 226w,
      /images/img-product-270w.webp 270w,
      /images/img-product-288w.webp 288w,
      /images/img-product-328w.webp 328w,
      /images/img-product-339w.webp 339w,
      /images/img-product-343w.webp 343w,
      /images/img-product-348w.webp 348w,
      /images/img-product-382w.webp 382w,
      /images/img-product-396w.webp 396w,
      /images/img-product-405w.webp 405w,
      /images/img-product-452w.webp 452w,
      /images/img-product-522w.webp 522w">
<!-- TODO add img -->
  <img src="/images/img-product-270w.png" alt="alt" width="270" height="203">
</picture>
        </div>
      </div>
    </a>
  </div>
                <div class="container-100_50_25_25_25 gallery__item-container">
    <a href="/products/product/">
      <div data-item="all category-2" class="gallery__item">
        <div class="buffer-big">
          <picture>
        <source sizes="(min-width: 1200px) 270px, (min-width: 1440px) calc((((100vw - 32px) * 0.25) - 32px)), (min-width: 1240px) calc((((100vw - 32px) * 0.25) - 32px)), (min-width: 905px) calc((((100vw - 24px) * 0.25) - 24px)), (min-width: 600px) calc((((100vw - 24px) * 0.50) - 24px)), calc(((100vw - 16px) - 16px))" type="image/webp" srcset="
      /images/img-product-226w.webp 226w,
      /images/img-product-270w.webp 270w,
      /images/img-product-288w.webp 288w,
      /images/img-product-328w.webp 328w,
      /images/img-product-339w.webp 339w,
      /images/img-product-343w.webp 343w,
      /images/img-product-348w.webp 348w,
      /images/img-product-382w.webp 382w,
      /images/img-product-396w.webp 396w,
      /images/img-product-405w.webp 405w,
      /images/img-product-452w.webp 452w,
      /images/img-product-522w.webp 522w">
<!-- TODO add img -->
  <img src="/images/img-product-270w.png" alt="alt" width="270" height="203">
</picture>
        </div>
      </div>
    </a>
  </div>

                <div class="container-100_50_25_25_25 gallery__item-container">
    <a href="/products/product/">
      <div data-item="all category-2" class="gallery__item">
        <div class="buffer-big">
          <picture>
        <source sizes="(min-width: 1200px) 270px, (min-width: 1440px) calc((((100vw - 32px) * 0.25) - 32px)), (min-width: 1240px) calc((((100vw - 32px) * 0.25) - 32px)), (min-width: 905px) calc((((100vw - 24px) * 0.25) - 24px)), (min-width: 600px) calc((((100vw - 24px) * 0.50) - 24px)), calc(((100vw - 16px) - 16px))" type="image/webp" srcset="
      /images/img-product-226w.webp 226w,
      /images/img-product-270w.webp 270w,
      /images/img-product-288w.webp 288w,
      /images/img-product-328w.webp 328w,
      /images/img-product-339w.webp 339w,
      /images/img-product-343w.webp 343w,
      /images/img-product-348w.webp 348w,
      /images/img-product-382w.webp 382w,
      /images/img-product-396w.webp 396w,
      /images/img-product-405w.webp 405w,
      /images/img-product-452w.webp 452w,
      /images/img-product-522w.webp 522w">
<!-- TODO add img -->
  <img src="/images/img-product-270w.png" alt="alt" width="270" height="203">
</picture>
        </div>
      </div>
    </a>
  </div>
                <div class="container-100_50_25_25_25 gallery__item-container">
    <a href="/products/product/">
      <div data-item="all category-3" class="gallery__item">
        <div class="buffer-big">
          <picture>
        <source sizes="(min-width: 1200px) 270px, (min-width: 1440px) calc((((100vw - 32px) * 0.25) - 32px)), (min-width: 1240px) calc((((100vw - 32px) * 0.25) - 32px)), (min-width: 905px) calc((((100vw - 24px) * 0.25) - 24px)), (min-width: 600px) calc((((100vw - 24px) * 0.50) - 24px)), calc(((100vw - 16px) - 16px))" type="image/webp" srcset="
      /images/img-product-226w.webp 226w,
      /images/img-product-270w.webp 270w,
      /images/img-product-288w.webp 288w,
      /images/img-product-328w.webp 328w,
      /images/img-product-339w.webp 339w,
      /images/img-product-343w.webp 343w,
      /images/img-product-348w.webp 348w,
      /images/img-product-382w.webp 382w,
      /images/img-product-396w.webp 396w,
      /images/img-product-405w.webp 405w,
      /images/img-product-452w.webp 452w,
      /images/img-product-522w.webp 522w">
<!-- TODO add img -->
  <img src="/images/img-product-270w.png" alt="alt" width="270" height="203">
</picture>
        </div>
      </div>
    </a>
  </div>
                <div class="container-100_50_25_25_25 gallery__item-container">
    <a href="/products/product/">
      <div data-item="all category-3" class="gallery__item">
        <div class="buffer-big">
          <picture>
        <source sizes="(min-width: 1200px) 270px, (min-width: 1440px) calc((((100vw - 32px) * 0.25) - 32px)), (min-width: 1240px) calc((((100vw - 32px) * 0.25) - 32px)), (min-width: 905px) calc((((100vw - 24px) * 0.25) - 24px)), (min-width: 600px) calc((((100vw - 24px) * 0.50) - 24px)), calc(((100vw - 16px) - 16px))" type="image/webp" srcset="
      /images/img-product-226w.webp 226w,
      /images/img-product-270w.webp 270w,
      /images/img-product-288w.webp 288w,
      /images/img-product-328w.webp 328w,
      /images/img-product-339w.webp 339w,
      /images/img-product-343w.webp 343w,
      /images/img-product-348w.webp 348w,
      /images/img-product-382w.webp 382w,
      /images/img-product-396w.webp 396w,
      /images/img-product-405w.webp 405w,
      /images/img-product-452w.webp 452w,
      /images/img-product-522w.webp 522w">
<!-- TODO add img -->
  <img src="/images/img-product-270w.png" alt="alt" width="270" height="203">
</picture>
        </div>
      </div>
    </a>
  </div>
                <div class="container-100_50_25_25_25 gallery__item-container">
    <a href="/products/product/">
      <div data-item="all category-3" class="gallery__item">
        <div class="buffer-big">
          <picture>
        <source sizes="(min-width: 1200px) 270px, (min-width: 1440px) calc((((100vw - 32px) * 0.25) - 32px)), (min-width: 1240px) calc((((100vw - 32px) * 0.25) - 32px)), (min-width: 905px) calc((((100vw - 24px) * 0.25) - 24px)), (min-width: 600px) calc((((100vw - 24px) * 0.50) - 24px)), calc(((100vw - 16px) - 16px))" type="image/webp" srcset="
      /images/img-product-226w.webp 226w,
      /images/img-product-270w.webp 270w,
      /images/img-product-288w.webp 288w,
      /images/img-product-328w.webp 328w,
      /images/img-product-339w.webp 339w,
      /images/img-product-343w.webp 343w,
      /images/img-product-348w.webp 348w,
      /images/img-product-382w.webp 382w,
      /images/img-product-396w.webp 396w,
      /images/img-product-405w.webp 405w,
      /images/img-product-452w.webp 452w,
      /images/img-product-522w.webp 522w">
<!-- TODO add img -->
  <img src="/images/img-product-270w.png" alt="alt" width="270" height="203">
</picture>
        </div>
      </div>
    </a>
  </div>

              </div>
            </div>
          </div>
        </section>
      </div>
    </main>
  </div>
  
  {{ partial "footer.html" . }}

  <script src="/js/all-products.js"></script>
</body>
</html>