<div class="footer">
  <footer>
      <div class="footer__top">
        <div class="max-width-default ">
          <div class="responsive">
            <div class="container-100_50_25_25_25">
              <h3 class="h4">GAME CARRIER</h3>
              <div class="buffer-default">
                <ul class="list-reset footer__list">
                  <li>
                    <a class="footer__link" href="#">Main</a>
                  </li>
                  <li>
                    <a class="footer__link" href="#">Features</a>
                  </li>
                  <li>
                    <a class="footer__link" href="#">Documentations</a>
                  </li>
                  <li>
                    <a class="footer__link" href="#">Blog</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="container-100_50_25_25_25">
              <h3 class="h4">PRODUCTS</h3>
              <div class="buffer-default">
                <ul class="list-reset footer__list">
                  <li>
                    <a class="footer__link" href="#">Product 1</a>
                  </li>
                  <li>
                    <a class="footer__link" href="#">Product 2</a>
                  </li>
                  <li>
                    <a class="footer__link" href="#">Product 3</a>
                  </li>
                  <li>
                    <a class="footer__link" href="#">Product 4</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="container-100_50_25_25_25">
              <h3 class="h4">CONTACT</h3>
              <div class="buffer-default">
                <address>
                <div class="buffer-footer">
                  <a class="footer__link" href="mailto:info@form.com">info@form.com</a>
                </div>
                <div class="buffer-footer">
                  <a class="footer__link" href="tel:8825873025">882-587-3025</a>
                </div>
                <div class="buffer-footer">
                  <a class="footer__link" href="#">6116 Willa River Suite 610</a>
                </div>
                </address>
              </div>
            </div>
            <div class="container-100_50_25_25_25">
              <h3 class="h4">Newsletter</h3>
              <p>Join our weekly maiiling list</p>
              <form>
              <div class="buffer-big">
                <div class="responsive footer__form-container">
                  <label for="email" class="visually-hidden">Enter your email</label>
                  <input name="email" id="email" type="mail" placeholder="Your email">
                  <button type="submit" class="button-square" aria-label="Subscribe"></button>
                </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="max-width-default ">
        <div class="footer__bottom">
          <div class="responsive footer__bottom-container">
            <p>Copyright © 2023 Bigtech All Rights Reserved.</p>
            <div class="responsive">
              <ul class="responsive list-reset nowrap">
                <li>
                  <div class="buffer-default">
                    <a class="footer__link" href="#">Terms and conditions</a>
                  </div>
                </li>
                <li>
                  <div class="buffer-default">
                    <a class="footer__link"  href="#">Legal</a>
                  </div>
                </li>
                <li>
                  <div class="buffer-default">
                    <a class="footer__link"  href="#">Pattents</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
  </footer>
</div>