<div class="header">
  <header>
    <div class="max-width-hc hc header__container">
      <div class="header__logo logo" role="banner">
        <a href="/">
          
          <picture>
              <source type="image/svg+xml" srcset="/images/KF0UFyKHN5-200.svg">
              <img src="/images/KF0UFyKHN5-200.png" width="200" height="69" alt="starter logo">
          </picture>
        </a>
      </div>
      <div class="header__main-menu-burger burger"></div>
      <div class="header__main-menu-container" id="main-menu-container">
        <nav aria-label="starter main menu">
  <div class="main-menu__button-container">
  </div>
  <ul class="main-menu" role="menubar" aria-label="starter main menu">
  
      <li class="main-menu__item" role="none">
          <a class="main-menu__link
          " 
          
          href="/#about">ABOUT</a>
      </li>
  
      <li class="main-menu__item" role="none">
          <a class="main-menu__link
          " 
          
          href="/features/">FEATURES</a>
      </li>
  
      <li class="main-menu__item" role="none">
          <a class="main-menu__link
          " 
          
          href="/products/">PRODUCTS</a>
      </li>
  
      <li class="main-menu__item" role="none">
          <a class="main-menu__link
          " 
          
          href="/partners/">PARTNERS</a>
      </li>
  
      <li class="main-menu__item" role="none">
          <a class="main-menu__link
          " 
          
          href="/platforms/">PLATFORMS</a>
      </li>
  
      <li class="main-menu__item" role="none">
          <a class="main-menu__link
          " 
          
          href="/documentation/">DOCUMENTATION</a>
      </li>
  
      <li class="main-menu__item" role="none">
          <a class="main-menu__link
          " 
          
          href="/blog/">BLOG</a>
      </li>
  
      <li class="main-menu__item" role="none">
          <a class="main-menu__link
          " 
          
          href="/community/">COMMUNITY</a>
      </li>
  
  </ul>
</nav>
        <ul class="header__login-links login-links">
          <li class="login-links__item">
            <a class="button-blue login-button" href="#" >
              LOGIN
            </a>
          </li>
          <li class="login-links__item">
            <a class="button login-button" href="#" >
              SIGNUP
            </a>
          </li>
        </ul>
      </div>
    </div>
  </header>
</div>