<!DOCTYPE html>
<html lang="en">
<head>
  <title>NextGen GameDev Server Framework</title>
  <meta name="description" content="Multiplatform next generation high-load server framework that simplifies game development cycle">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Menu -->
  <link rel="stylesheet" href="/css/index.css">

  {{ partial "js-head.html" . }}

</head>
<body>

  {{ partial "header.html" . }}

  <div class="main">
    <main>
      
      <div class="hero">
        <div class="hero__bg" role="banner" aria-hidden="true">
          <picture>
      <source sizes="(min-width: 1440px) calc(100vw), (min-width: 1240px) calc(100vw), (min-width: 905px) calc(100vw), (min-width: 600px) calc(100vw), calc(100vw)" type="image/webp" srcset="
      /images/img-new-banner_bg-320w.webp 320w,
      /images/img-new-banner_bg-360w.webp 360w,
      /images/img-new-banner_bg-375w.webp 375w,
      /images/img-new-banner_bg-414w.webp 414w,
      /images/img-new-banner_bg-428w.webp 428w,
      /images/img-new-banner_bg-640w.webp 640w,
      /images/img-new-banner_bg-720w.webp 720w,
      /images/img-new-banner_bg-750w.webp 750w,
      /images/img-new-banner_bg-768w.webp 768w,
      /images/img-new-banner_bg-828w.webp 828w,
      /images/img-new-banner_bg-856w.webp 856w,
      /images/img-new-banner_bg-960w.webp 960w,
      /images/img-new-banner_bg-1024w.webp 1024w,
      /images/img-new-banner_bg-1080w.webp 1080w,
      /images/img-new-banner_bg-1125w.webp 1125w,
      /images/img-new-banner_bg-1152w.webp 1152w,
      /images/img-new-banner_bg-1242w.webp 1242w,
      /images/img-new-banner_bg-1280w.webp 1280w,
      /images/img-new-banner_bg-1284w.webp 1284w,
      /images/img-new-banner_bg-1366w.webp 1366w,
      /images/img-new-banner_bg-1440w.webp 1440w,
      /images/img-new-banner_bg-1536w.webp 1536w,
      /images/img-new-banner_bg-1920w.webp 1920w">
<!-- TODO add img -->
  <img src="/images/img-new-banner_bg-1920w.jpeg" alt="_" width="1920" height="948">
</picture>
        </div>
        <div class="hero__ball-1" role="banner" aria-hidden="true">
          <picture>
    <source sizes="169px" type="image/webp" srcset="
      /images/AenMnuAfNq-169.webp 169w">
  <img src="/images/AenMnuAfNq-169.png" alt="_" width="169" height="169">
</picture>
        </div>
        <div class="hero__ball-2" role="banner" aria-hidden="true">
          <picture>
    <source sizes="146px" type="image/webp" srcset="
      /images/AenMnuAfNq-146.webp 146w">
  <img src="/images/AenMnuAfNq-146.png" alt="_" width="146" height="146">
</picture>
        </div>
        <div class="hero__ball-3" role="banner" aria-hidden="true">
          <picture>
    <source sizes="66px" type="image/webp" srcset="
      /images/AenMnuAfNq-66.webp 66w,
      /images/AenMnuAfNq-99.webp 99w,
      /images/AenMnuAfNq-132.webp 132w">
  <img src="/images/AenMnuAfNq-66.png" alt="_" width="66" height="66">
</picture>
        </div>
        <section>
          <div class="max-width-no-gaps no-gaps decorative">
            <div class="spacer-60"></div>
            <div class="buffer-big">
              <div class="hero__content">
                <h1>1501<br> Server Framework</h1>
                <div class="spacer-100"></div>
                <p>Multiplatform next generation high-load server framework<br> 
                that simplifies game development cycle</p>
                <div class="spacer-40"></div>
                <div class="buffer-big">
                  <button class="button-blue">TRY FREE</button>
                </div>
              </div>
            </div>
            <div class="spacer-60"></div>
          </div>
        </section>
      </div>
      <div class="section section-60-120">
        <section>
          <div class="max-width-default ">
            <h2>Features</h2>
            <div class="responsive">
              <div class="buffer-big float-right ml-auto">
                <button class="button-blue">View all</button>
              </div>
            </div>
            <div class="spacer-16"></div>
            <div class="responsive">

              {{ .Content }}

            </div>
          </div>
        </section>
      </div>
      <div class="section section-120">
        <section>
          <div class="max-width-default ">
            <h2>Products</h2>
            <div class="responsive">
              <div class="container-100_50_50_50_50">
                <p class="float-left mr-auto">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquat enim ad minim.</p>
              </div>
              <div class="container-100_50_50_50_50">
                <div class="buffer-big float-right ml-auto">
                  <button class="button-blue">View all</button>
                </div>
              </div>
            </div>
            <div class="spacer-40"></div>

            <div class="responsive">
              <div class="container-100_100_50_50_50">
                <div class="buffer-big">
                  <picture>
        <source sizes="(min-width: 1200px) 576px, (min-width: 1440px) calc(((100vw * 0.50) - 32px)), (min-width: 1240px) calc(((100vw * 0.50) - 32px)), (min-width: 905px) calc(((100vw * 0.50) - 24px)), (min-width: 600px) calc((100vw - 24px)), calc((100vw - 16px))" type="image/webp" srcset="
      /images/img-wide-304w.webp 304w,
      /images/img-wide-344w.webp 344w,
      /images/img-wide-359w.webp 359w,
      /images/img-wide-398w.webp 398w,
      /images/img-wide-412w.webp 412w,
      /images/img-wide-488w.webp 488w,
      /images/img-wide-576w.webp 576w,
      /images/img-wide-608w.webp 608w,
      /images/img-wide-688w.webp 688w,
      /images/img-wide-718w.webp 718w,
      /images/img-wide-732w.webp 732w,
      /images/img-wide-744w.webp 744w,
      /images/img-wide-796w.webp 796w,
      /images/img-wide-824w.webp 824w,
      /images/img-wide-864w.webp 864w,
      /images/img-wide-912w.webp 912w,
      /images/img-wide-976w.webp 976w,
      /images/img-wide-1032w.webp 1032w,
      /images/img-wide-1077w.webp 1077w">
<!-- TODO add img -->
  <img src="/images/img-wide-576w.png" alt="alt" width="576" height="205">
</picture>
                </div>
              </div>

              <div class="container-100_50_25_25_25">
                <div class="buffer-big">
                  <picture>
        <source sizes="(min-width: 1200px) 276px, (min-width: 1440px) calc(((100vw * 0.25) - 32px)), (min-width: 1240px) calc(((100vw * 0.25) - 32px)), (min-width: 905px) calc(((100vw * 0.25) - 24px)), (min-width: 600px) calc(((100vw * 0.50) - 24px)), calc((100vw - 16px))" type="image/webp" srcset="
      /images/img-small-232w.webp 232w,
      /images/img-small-276w.webp 276w,
      /images/img-small-304w.webp 304w,
      /images/img-small-344w.webp 344w,
      /images/img-small-348w.webp 348w,
      /images/img-small-359w.webp 359w,
      /images/img-small-360w.webp 360w,
      /images/img-small-398w.webp 398w,
      /images/img-small-412w.webp 412w,
      /images/img-small-414w.webp 414w,
      /images/img-small-464w.webp 464w">
<!-- TODO add img -->
  <img src="/images/img-small-276w.png" alt="alt" width="276" height="207">
</picture>
                </div>
              </div>

              <div class="container-100_50_25_25_25">
                <div class="buffer-big">
                  <picture>
        <source sizes="(min-width: 1200px) 276px, (min-width: 1440px) calc(((100vw * 0.25) - 32px)), (min-width: 1240px) calc(((100vw * 0.25) - 32px)), (min-width: 905px) calc(((100vw * 0.25) - 24px)), (min-width: 600px) calc(((100vw * 0.50) - 24px)), calc((100vw - 16px))" type="image/webp" srcset="
      /images/img-small-232w.webp 232w,
      /images/img-small-276w.webp 276w,
      /images/img-small-304w.webp 304w,
      /images/img-small-344w.webp 344w,
      /images/img-small-348w.webp 348w,
      /images/img-small-359w.webp 359w,
      /images/img-small-360w.webp 360w,
      /images/img-small-398w.webp 398w,
      /images/img-small-412w.webp 412w,
      /images/img-small-414w.webp 414w,
      /images/img-small-464w.webp 464w">
<!-- TODO add img -->
  <img src="/images/img-small-276w.png" alt="alt" width="276" height="207">
</picture>
                </div>
              </div>
            </div>

            <div class="responsive">
              <div class="container-100_50_25_25_25">
                <div class="buffer-big">
                  <picture>
        <source sizes="(min-width: 1200px) 276px, (min-width: 1440px) calc(((100vw * 0.25) - 32px)), (min-width: 1240px) calc(((100vw * 0.25) - 32px)), (min-width: 905px) calc(((100vw * 0.25) - 24px)), (min-width: 600px) calc(((100vw * 0.50) - 24px)), calc((100vw - 16px))" type="image/webp" srcset="
      /images/img-small-232w.webp 232w,
      /images/img-small-276w.webp 276w,
      /images/img-small-304w.webp 304w,
      /images/img-small-344w.webp 344w,
      /images/img-small-348w.webp 348w,
      /images/img-small-359w.webp 359w,
      /images/img-small-360w.webp 360w,
      /images/img-small-398w.webp 398w,
      /images/img-small-412w.webp 412w,
      /images/img-small-414w.webp 414w,
      /images/img-small-464w.webp 464w">
<!-- TODO add img -->
  <img src="/images/img-small-276w.png" alt="alt" width="276" height="207">
</picture>
                </div>

                <div class="buffer-big">
                  <picture>
        <source sizes="(min-width: 1200px) 276px, (min-width: 1440px) calc(((100vw * 0.25) - 32px)), (min-width: 1240px) calc(((100vw * 0.25) - 32px)), (min-width: 905px) calc(((100vw * 0.25) - 24px)), (min-width: 600px) calc(((100vw * 0.50) - 24px)), calc((100vw - 16px))" type="image/webp" srcset="
      /images/img-small-232w.webp 232w,
      /images/img-small-276w.webp 276w,
      /images/img-small-304w.webp 304w,
      /images/img-small-344w.webp 344w,
      /images/img-small-348w.webp 348w,
      /images/img-small-359w.webp 359w,
      /images/img-small-360w.webp 360w,
      /images/img-small-398w.webp 398w,
      /images/img-small-412w.webp 412w,
      /images/img-small-414w.webp 414w,
      /images/img-small-464w.webp 464w">
<!-- TODO add img -->
  <img src="/images/img-small-276w.png" alt="alt" width="276" height="207">
</picture>
                </div>
              </div>

              <div class="container-100_50_25_25_25">
                <div class="buffer-big">
                  <picture>
        <source sizes="(min-width: 1200px) 276px, (min-width: 1440px) calc(((100vw * 0.25) - 32px)), (min-width: 1240px) calc(((100vw * 0.25) - 32px)), (min-width: 905px) calc(((100vw * 0.25) - 24px)), (min-width: 600px) calc(((100vw * 0.50) - 24px)), calc((100vw - 16px))" type="image/webp" srcset="
      /images/img-tall-232w.webp 232w,
      /images/img-tall-276w.webp 276w,
      /images/img-tall-304w.webp 304w,
      /images/img-tall-344w.webp 344w,
      /images/img-tall-348w.webp 348w,
      /images/img-tall-359w.webp 359w,
      /images/img-tall-360w.webp 360w,
      /images/img-tall-398w.webp 398w,
      /images/img-tall-412w.webp 412w,
      /images/img-tall-414w.webp 414w,
      /images/img-tall-464w.webp 464w">
<!-- TODO add img -->
  <img src="/images/img-tall-276w.png" alt="alt" width="276" height="445">
</picture>
                </div>
              </div>

              <div class="container-100_100_50_50_50">
                <div class="buffer-big">
                  <picture>
        <source sizes="(min-width: 1200px) 576px, (min-width: 1440px) calc(((100vw * 0.50) - 32px)), (min-width: 1240px) calc(((100vw * 0.50) - 32px)), (min-width: 905px) calc(((100vw * 0.50) - 24px)), (min-width: 600px) calc((100vw - 24px)), calc((100vw - 16px))" type="image/webp" srcset="
      /images/img-big-304w.webp 304w,
      /images/img-big-344w.webp 344w,
      /images/img-big-359w.webp 359w,
      /images/img-big-398w.webp 398w,
      /images/img-big-412w.webp 412w,
      /images/img-big-488w.webp 488w,
      /images/img-big-576w.webp 576w,
      /images/img-big-608w.webp 608w,
      /images/img-big-688w.webp 688w,
      /images/img-big-718w.webp 718w,
      /images/img-big-732w.webp 732w,
      /images/img-big-744w.webp 744w,
      /images/img-big-796w.webp 796w,
      /images/img-big-824w.webp 824w,
      /images/img-big-864w.webp 864w,
      /images/img-big-912w.webp 912w,
      /images/img-big-976w.webp 976w,
      /images/img-big-1032w.webp 1032w,
      /images/img-big-1077w.webp 1077w">
<!-- TODO add img -->
  <img src="/images/img-big-576w.png" alt="alt" width="576" height="441">
</picture>
                </div>
              </div>

            </div>
          </div>
        </section>
      </div>
      <div class="section section-120-60">
        <section>
          <div class="max-width-default ">
            <div class="buffer-big">
              <div class="gray-block">
                <div class="responsive">
                  <div class="container-100_100_50_50_50">
                    <h2>Documentations</h2>
                    <div class="responsive">
                      <div class="container-100_100_70_70_70">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquat enim ad minim.</p>
                      </div>
                    </div>
                    
                    <div class="buffer-big">
                      <button class="button-blue">View all</button>
                    </div>
                  </div>
                  <div class="container-100_100_50_50_50 flex-center">
                    <picture>
              <source type="image/svg+xml" srcset="/images/28DiQ1c13b-68.svg">
              <img src="/images/28DiQ1c13b-68.png" width="68" height="56" alt="alt">
          </picture>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="section section-60">
        <section>
          <div class="max-width-default ">
            <h2 class="text-center">News</h2>
            <div class="spacer-20"></div>
            <div class="responsive">
              <div class="container-100_50_25_25_25">
    <div class="buffer-big">
      <div class="news-card">
        <article>
          <a href="#">
            
            <div class="news-card__img">
              <picture>
        <source sizes="(min-width: 1200px) 270px, (min-width: 1440px) calc((((100vw - 32px) * 0.25) - 32px)), (min-width: 1240px) calc((((100vw - 32px) * 0.25) - 32px)), (min-width: 905px) calc((((100vw - 24px) * 0.25) - 24px)), (min-width: 600px) calc((((100vw - 24px) * 0.50) - 24px)), calc(((100vw - 16px) - 16px))" type="image/webp" srcset="
      /images/img-news-img-226w.webp 226w,
      /images/img-news-img-270w.webp 270w,
      /images/img-news-img-288w.webp 288w,
      /images/img-news-img-328w.webp 328w,
      /images/img-news-img-339w.webp 339w,
      /images/img-news-img-343w.webp 343w,
      /images/img-news-img-348w.webp 348w,
      /images/img-news-img-382w.webp 382w,
      /images/img-news-img-396w.webp 396w,
      /images/img-news-img-405w.webp 405w,
      /images/img-news-img-452w.webp 452w,
      /images/img-news-img-522w.webp 522w">
<!-- TODO add img -->
  <img src="/images/img-news-img-270w.png" alt="Impact Of Extrinsic Motivation On Intrinsic Motivation" width="270" height="203">
</picture>
            </div>
            <div class="news-card__content">
                <div class="responsive news-card__info">
                  <time>22 Oct 2018</time>
                  <span> | by Jack Morgan</span>
                </div>
              <h3>
                Impact Of Extrinsic Motivation On Intrinsic Motivation
              </h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam…
              </p>
            </div>
            
          </a>
        </article>
      </div>
    </div>
  </div>

              <div class="container-100_50_25_25_25">
    <div class="buffer-big">
      <div class="news-card">
        <article>
          <a href="#">
            
            <div class="news-card__img">
              <picture>
        <source sizes="(min-width: 1200px) 276px, (min-width: 1440px) calc(((100vw * 0.25) - 32px)), (min-width: 1240px) calc(((100vw * 0.25) - 32px)), (min-width: 905px) calc(((100vw * 0.25) - 24px)), (min-width: 600px) calc(((100vw * 0.50) - 24px)), calc((100vw - 16px))" type="image/webp" srcset="
      /images/img-news-img-232w.webp 232w,
      /images/img-news-img-276w.webp 276w,
      /images/img-news-img-304w.webp 304w,
      /images/img-news-img-344w.webp 344w,
      /images/img-news-img-348w.webp 348w,
      /images/img-news-img-359w.webp 359w,
      /images/img-news-img-360w.webp 360w,
      /images/img-news-img-398w.webp 398w,
      /images/img-news-img-412w.webp 412w,
      /images/img-news-img-414w.webp 414w,
      /images/img-news-img-464w.webp 464w">
<!-- TODO add img -->
  <img src="/images/img-news-img-276w.png" alt="Impact Of Extrinsic Motivation On Intrinsic Motivation" width="276" height="207">
</picture>
            </div>
            <div class="news-card__content">
                <div class="responsive news-card__info">
                  <time>22 Oct 2018</time>
                  <span> | by Jack Morgan</span>
                </div>
              <h3>
                Impact Of Extrinsic Motivation On Intrinsic Motivation
              </h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam…
              </p>
            </div>
            
          </a>
        </article>
      </div>
    </div>
  </div>

              <div class="container-100_50_25_25_25">
    <div class="buffer-big">
      <div class="news-card">
        <article>
          <a href="#">
            
            <div class="news-card__img">
              <picture>
        <source sizes="(min-width: 1440px) calc(((100vw * 0.25) - 32px)), (min-width: 1240px) calc(((100vw * 0.25) - 32px)), (min-width: 905px) calc(((100vw * 0.25) - 24px)), (min-width: 600px) calc(((100vw * 0.50) - 24px)), calc((100vw - 16px))" type="image/webp" srcset="
      /images/img-news-img-232w.webp 232w,
      /images/img-news-img-288w.webp 288w,
      /images/img-news-img-304w.webp 304w,
      /images/img-news-img-310w.webp 310w,
      /images/img-news-img-328w.webp 328w,
      /images/img-news-img-344w.webp 344w,
      /images/img-news-img-348w.webp 348w,
      /images/img-news-img-352w.webp 352w,
      /images/img-news-img-359w.webp 359w,
      /images/img-news-img-360w.webp 360w,
      /images/img-news-img-398w.webp 398w,
      /images/img-news-img-412w.webp 412w,
      /images/img-news-img-432w.webp 432w,
      /images/img-news-img-448w.webp 448w,
      /images/img-news-img-464w.webp 464w,
      /images/img-news-img-465w.webp 465w,
      /images/img-news-img-492w.webp 492w">
<!-- TODO add img -->
  <img src="/images/img-news-img-448w.png" alt="Impact Of Extrinsic Motivation On Intrinsic Motivation" width="448" height="337">
</picture>
            </div>
            <div class="news-card__content">
                <div class="responsive news-card__info">
                  <time>22 Oct 2018</time>
                  <span> | by Jack Morgan</span>
                </div>
              <h3>
                Impact Of Extrinsic Motivation On Intrinsic Motivation
              </h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam…
              </p>
            </div>
            
          </a>
        </article>
      </div>
    </div>
  </div>

              <div class="container-100_50_25_25_25">
    <div class="buffer-big">
      <div class="news-card">
        <article>
          <a href="#">
            
            <div class="news-card__img">
              <picture>
        <source sizes="(min-width: 1440px) calc(((100vw * 0.25) - 32px)), (min-width: 1240px) calc(((100vw * 0.25) - 32px)), (min-width: 905px) calc(((100vw * 0.25) - 24px)), (min-width: 600px) calc(((100vw * 0.50) - 24px)), calc((100vw - 16px))" type="image/webp" srcset="
      /images/img-news-img-232w.webp 232w,
      /images/img-news-img-288w.webp 288w,
      /images/img-news-img-304w.webp 304w,
      /images/img-news-img-310w.webp 310w,
      /images/img-news-img-328w.webp 328w,
      /images/img-news-img-344w.webp 344w,
      /images/img-news-img-348w.webp 348w,
      /images/img-news-img-352w.webp 352w,
      /images/img-news-img-359w.webp 359w,
      /images/img-news-img-360w.webp 360w,
      /images/img-news-img-398w.webp 398w,
      /images/img-news-img-412w.webp 412w,
      /images/img-news-img-432w.webp 432w,
      /images/img-news-img-448w.webp 448w,
      /images/img-news-img-464w.webp 464w,
      /images/img-news-img-465w.webp 465w,
      /images/img-news-img-492w.webp 492w">
<!-- TODO add img -->
  <img src="/images/img-news-img-448w.png" alt="Impact Of Extrinsic Motivation On Intrinsic Motivation" width="448" height="337">
</picture>
            </div>
            <div class="news-card__content">
                <div class="responsive news-card__info">
                  <time>22 Oct 2018</time>
                  <span> | by Jack Morgan</span>
                </div>
              <h3>
                Impact Of Extrinsic Motivation On Intrinsic Motivation
              </h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam…
              </p>
            </div>
            
          </a>
        </article>
      </div>
    </div>
  </div>

            </div>
            <div class="spacer-40"></div>
            <div class="responsive justify-content-center">
              <div class="buffer-big mx-auto">
                <button class="button-blue">SEE MORE</button>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="section section-60" id="about">
        <div class="max-width-default ">
          <section>
            <div class="responsive">
              <div class="container-100_100_50_50_50">
                <div class="responsive">
                  <div class="container-100_100_70_70_70">
                    <h2>About us</h2>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                    </p>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                    </p>
                  </div>
                </div>
              </div>
              <div class="container-70_70_50_50_50 mx-auto">
                <div class="buffer-big">
                  <picture>
        <source sizes="(min-width: 1200px) 564px, (min-width: 1440px) calc((((100vw - 32px) * 0.50) - 32px)), (min-width: 1240px) calc((((100vw - 32px) * 0.50) - 32px)), (min-width: 905px) calc((((100vw - 24px) * 0.50) - 24px)), (min-width: 600px) calc((((100vw - 24px) * 0.70) - 24px)), calc((((100vw - 16px) * 0.70) - 16px))" type="image/webp" srcset="
      /images/img-composition-197w.webp 197w,
      /images/img-composition-225w.webp 225w,
      /images/img-composition-235w.webp 235w,
      /images/img-composition-263w.webp 263w,
      /images/img-composition-272w.webp 272w,
      /images/img-composition-394w.webp 394w,
      /images/img-composition-450w.webp 450w,
      /images/img-composition-470w.webp 470w,
      /images/img-composition-476w.webp 476w">
<!-- TODO add img -->
  <img src="/images/img-composition-490w.png" alt="steps" width="564" height="540">
</picture>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </main>
  </div>

  {{ partial "footer.html" . }}

  <script src="/js/index.js"></script>
</body>
</html>
